
@{
    ViewBag.Title = "Home";
    Layout = "~/Areas/PurchaseOrderManager/Views/Shared/_PurchaseOrderManagerLayoutShare.cshtml";
}
<!-- Css -->
@section styles{
    <!-- Vendor -->

    <!-- Custom-->

}

<!-- Breadcrumb -->
<div class="pagetitle">
    <h1>Employees</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Employees Management</li>
        </ol>
    </nav>
</div>

<!-- Js -->
@section scripts{
    <!-- Vendor -->
    <script src="~/Content/vendor/DataTables/datatables.min.js"></script>
    <!-- Custom -->

}