
@{
    ViewBag.Title = "Home";
    Layout = "~/Areas/PurchaseOrderManager/Views/Shared/_PurchaseOrderManagerLayoutShare.cshtml";
}
<!-- Css -->
@section styles{
    <!-- Vendor -->
    <link href="~/Areas/PurchaseOrderManager/Content/vendor/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/Areas/PurchaseOrderManager/Content/vendor/confetti-button/style.css" rel="stylesheet" />
    <link href="~/Areas/PurchaseOrderManager/Content/vendor/Viewer JS/viewer.min.css" rel="stylesheet" />
    <link href="~/Areas/PurchaseOrderManager/Content/vendor/Stepper/bs-stepper.min.css" rel="stylesheet" />
    <!-- Custom-->
    <link href="~/Areas/PurchaseOrderManager/Content/Custom/PurchaseOrderManager/StyleSheet.css" rel="stylesheet" />
}
<img id="Image_Preview" style="display: none" />

<!-- Breadcrumb -->
<div class="pagetitle">
    <h1>Purchase Order Request</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Purchase Order Manager</li>
        </ol>
    </nav>
</div>

<!-- Container -->
<section class="section">
    <div class="card">
        <div class="card-body">
            <div class="card-title row d-flex justify-content-between m-0">
                <button class="btn btn-primary btn-new-request" title="New Purchase Order Request" id="btn_AddNewRequest">
                    <i class="bi bi-star me-1"></i>
                    New
                </button>
                <div class="header header-table-search col-4">
                    <div class="search-bar">
                        <div class="search-form d-flex align-items-center">
                            <input class="dataTable-input" type="text" name="query" placeholder="Search ..." title="Enter search keyword" id="table_PurchaseRequest_search">
                            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Table -->
            <table class="table table-striped cell-border table-hover" id="table_PurchaseRequest">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th class="text-center">
                            需求單位/費用代碼</br>
                            Đơn vị nhu cầu/mã bộ phận
                        </th>
                        <th class="text-center">
                            需求單位</br>
                            Mã bộ phận sử dụng
                        </th>
                        <th class="text-center">
                            需求單位費用代碼</br>
                            Mã chi phí
                        </th>
                        <th class="text-center">
                            需求人</br>
                            Người yêu cầu
                        </th>
                        <th class="text-center">
                            電話</br>
                            Số máy lẻ
                        </th>
                        <th class="text-center">
                            郵箱</br>
                            Hòm thư
                        </th>
                        <th class="text-center">Status</th>
                        <th class="text-end">Action</th>
                    </tr>
                </thead>
                <tbody id="table_PurchaseRequest_tbody">
                </tbody>
            </table>
            <!-- End Dark Table -->
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="NewPurchaseOrderRequest" tabindex="-1" style="display: none;" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold text-center text-uppercase vw-100">詢價需求提報表</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered" id="PurchaseOrderRequestHead">
                    <thead>
                        <tr>
                            <th class="text-center required">需求單位/費用代碼</br>Đơn vị nhu cầu/mã bộ phận</th>
                            <td contenteditable="true" class="table-cell-edit" name="RequestDepartment"></td>

                            <th class="text-center required">需求單位</br>Mã bộ phận sử dụng</th>
                            <td contenteditable="true" class="table-cell-edit" name="UseDepartment"></td>

                            <th class="text-center required">需求單位費用代碼</br>Mã chi phí</thclass="text-center">
                            <td contenteditable="true" class="table-cell-edit" name="CostCode"></td>

                            <th class="text-center required">下單法人</br>Pháp nhân mua hàng</th>
                            <td contenteditable="true" class="table-cell-edit" name="LegalEntity">FUYU</td>

                            <th class="text-center">状态</br>Trạng thái</th>
                            @*<td class="text-center bg-light" name="Status"><span class="badge bg-info text-white lh-lg">Pending</span></td>*@
                            <td>
                                <select class="form-select text-primary fw-bold" id="select-status">
                                    <option value="Pendding" class="text-primary" selected>Pending</option>
                                    <option value="Approved" class="text-success">Approved</option>
                                    <option value="Declined" class="text-danger">Declined</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center required">交貨地點</br>Địa điểm giao hàng</th>
                            <td contenteditable="true" class="table-cell-edit" name="DeliveryLocation"></td>

                            <th class="text-center required">最晚需到廠日期</br>Ngày tháng dự định cần giao hàng</th>
                            <td class="table-cell-edit"><input type="date" class="border-0" name="PlanDeliveryDate" /></td>

                            <th class="text-center required">需求人</br>Người yêu cầu</th>
                            <td contenteditable="true" class="table-cell-edit" name="Requester"></td>

                            <th class="text-center required">電話</br>Số máy lẻ</th>
                            <td contenteditable="true" class="table-cell-edit" name="RequesterPhoneNumber"></td>

                            <th class="text-center required">郵箱</br>Hòm thư</th>
                            <td contenteditable="true" class="table-cell-edit" name="RequesterEmail">cpeii-vn-te-toolingroom@mail.foxconn.com</td>
                        </tr>
                    </thead>
                </table>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th rowspan="2" class="text-center">No.</th>
                            <th rowspan="2" class="text-center required">品名</br>Tên sản phẩm</th>
                            <th rowspan="2" class="text-center required">品牌</br>Nhãn hiệu</th>
                            <th rowspan="2" class="text-center required">型號/規格說明</br>Thông tin kỹ thuật/Quy cách</th>
                            <th rowspan="2" class="text-center required">單位</br>Đơn vị</th>
                            <th rowspan="2" class="text-center required">需求數量</br>SL yêu cầu</th>
                            <th rowspan="1" colspan="2" class="text-center required">需求類型</br>Loại hình nhu cầu</th>
                            <th rowspan="2" class="text-center required">料號/歷史採購單</br>Mã liệu/Đơn mua lịch sử</th>
                            <th rowspan="2" class="text-center required">網上價格參考鏈接</br>Link BU tham khảo giá</th>
                            <th rowspan="2" class="text-center required">图片</br>Hình ảnh</th>
                            <th rowspan="2" class="text-center required">其它備註說明</br>Những ghi chú khác</br>(ngày cần giao hàng)</th>
                            <th rowspan="2" class="text-center">採購回復</br>THU MUA PHẢN HỒI</th>
                            <th rowspan="2" class="text-center">Action</th>
                        </tr>
                        <tr>
                            <th rowspan="1" colspan="1" class="text-center">
                                一次性需求</br>Một lần
                            </th>
                            <th rowspan="1" colspan="1" class="text-center">每月需求</br>Hàng tháng</th>
                        </tr>
                    </thead>
                    <tbody id="PurchaseOrderRequestItem">
                        <tr>
                            <td class="text-center align-middle" number>1</td>
                            <td contenteditable="true" name="ProductName"></td>
                            <td contenteditable="true" name="Brand"></td>
                            <td contenteditable="true" name="Information"></td>
                            <td contenteditable="true" name="Unit"></td>
                            <td contenteditable="true" name="Quantity"></td>
                            <td class="cell-radio"><label><input type="radio" name="group-1" checked /></label></td>
                            <td class="cell-radio"><label><input type="radio" name="group-1" /></label></td>
                            <td contenteditable="true" name="MaterialCode"></td>
                            <td contenteditable="true" name="ReferencePriceLink"></td>
                            <td class="cell-image-upload row">
                                <input type="file" class="col-10 ps-0 imageInput" multiple name="Image" accept="image/*">
                                <button class="col-2 pe-0 deleteButton"><i class="bi bi-x-circle"></i></button>
                                <div class="col-12 previewContainer">
                                    
                                </div>
                            </td>
                            <td contenteditable="true" name="Notes"></td>
                            <td contenteditable="true" name="Feedback"></td>

                            <td class="cell-radio" action>
                                <label>
                                    <button class="btn btn-primary" dButton title="dynamic" onclick="AddNewRow(event)">
                                        <i class="bi bi-check-lg"></i>
                                    </button>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered" id="PurchaseOrderRequestApply">
                    <thead>
                        <tr class="text-center">
                            <th style="background-color: aliceblue;">核准</br>Người duyệt</th>
                            <th style="background-color: aliceblue;">核准</br>Thẩm duyệt</th>
                        </tr>
                        <tr>
                            <th contenteditable="true" class="text-center" name="Approver"></th>
                            <th contenteditable="true" class="text-center" name="Reviewer"></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <table class="table table-bordered">
                    <thead style="background-color: beige;">
                        <tr class="text-center">
                            <th colspan="2">相关文件</br>Tài liệu liên quan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="fw-bold text-center" style="width: 350px;">采购申请</br>Purchase Request (PR)</td>
                            <td>
                                <label class="btn btn-outline-primary" for="pr_file">Upload file</label>
                                <input id="pr_file" type="file" style="display:none" multiple>
                                <div id="pr_preview" class="pt-2"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="fw-bold text-center" style="width: 350px;">采购订单</br>Purchase Order (PO)</td>
                            <td>
                                <label class="btn btn-outline-primary" for="po_file">Upload file</label>
                                <input id="po_file" type="file" style="display:none" multiple>
                                <div id="po_preview" class="pt-2"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="fw-bold text-center" style="width: 350px;">其他文件</br>Orther</td>
                            <td>
                                <label class="btn btn-outline-primary" for="or_file">Upload file</label>
                                <input id="or_file" type="file" style="display:none" multiple>
                                <div id="or_preview" class="pt-2"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- Note -->
                @Html.Partial("~/Areas/PurchaseOrderManager/Views/Shared/NotePurchaseRequest.cshtml")
            </div>
            <div class="modal-footer justify-content-center">
                <button id="buttonNewRequest" class="btn-confetti ready">
                    <div class="message submitMessage">
                        <span class="btn-confetti-text">Save</span>
                    </div>
                    <div class="message loadingMessage">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 17">
                            <circle class="loadingCircle" cx="2.2" cy="10" r="1.6" />
                            <circle class="loadingCircle" cx="9.5" cy="10" r="1.6" />
                            <circle class="loadingCircle" cx="16.8" cy="10" r="1.6" />
                        </svg>
                    </div>
                    <div class="message successMessage">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 11">
                            <polyline stroke="currentColor" points="1.4,5.8 5.1,9.5 11.6,2.1 " />
                        </svg> <span class="btn-confetti-text">Success</span>
                    </div>
                </button>
                <canvas id="canvasNewRequest" class="canvas-confetti"></canvas>
            </div>
        </div>
    </div>
</div>

<!-- Js -->
@section scripts{
    <!-- Vendor -->
    <script src="~/Areas/PurchaseOrderManager/Content/vendor/DataTables/datatables.min.js"></script>
    <script src="~/Areas/PurchaseOrderManager/Content/vendor/confetti-button/script.js"></script>
    <script src="~/Areas/PurchaseOrderManager/Content/vendor/Viewer JS/viewer.min.js"></script>
    <!-- Custom -->
    <script src="~/Areas/PurchaseOrderManager/Content/Custom/PurchaseOrderManager/JavaScript.js"></script>
}