
@{
    ViewBag.Title = "Role Management";
    Layout = "~/Areas/NVIDIA/Views/Shared/_NvidiaLayoutShared.cshtml";

    var newGuid = Guid.NewGuid();
}

@section styles{
    <!-- Vendor -->
    <link href="~/Areas/NVIDIA/Content/Template/Sysadmin/assets/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/Areas/NVIDIA/Content/Template/Sysadmin/assets/plugins/select2/css/select2-bootstrap4.css" rel="stylesheet" />
    <link href="~/Areas/NVIDIA/Content/Template/Sysadmin/assets/plugins/datatable/css/dataTables.bootstrap5.min.css" rel="stylesheet" />

    <!-- Custom -->
    <link href="~/Areas/NVIDIA/Content/Custom/Admin/css/Role/RoleManagement.css?v=@newGuid" rel="stylesheet" />
}

<!-- Breadcrumb -->
<section>
    <div class="page-breadcrumb d-none d-sm-flex align-items-center py-3">
        <div class="breadcrumb-title pe-3">Role Management</div>
        <div class="ps-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item"><a href="/NVIDIA/Dashboard"><i class="bx bx-home-alt"></i></a></li>
                    <li class="breadcrumb-item" aria-current="page">ADMIN</li>
                </ol>
            </nav>
        </div>
    </div>
</section>

<!-- Datatable -->
<section>
    <div class="row">
        <div class="col-4">
            <!-- Role datatable -->
            <section>
                <div class="card" id="card-device-details">
                    <div class="card-body">
                        <div class="card-title"><h5 class="m-0 me-3">Roles Table</h5></div>
                        <hr />
                        <div class="form-body">
                            <table id="role-datatable" class="table table-striped table-hover table-bordered text-nowrap">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Role Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <div class="col-8">
            <!-- User datatable -->
            <section>
                <div class="card" id="card-device-details">
                    <div class="card-body">
                        <div class="card-title"><h5 class="m-0 me-3">Users Table</h5></div>
                        <hr />
                        <div class="form-body">
                            <table id="user-datatable" class="table table-striped table-hover table-bordered text-nowrap">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Username</th>
                                        <th>VN Name</th>
                                        <th>CN Name</th>
                                        <th>EN Name</th>
                                        <th>Email</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </section>

        </div>
    </div>
</section>

<!-- Modal -->
<section>
    @Html.Partial("~/Areas/NVIDIA/Views/AdminManagement/_UserModal.cshtml")
</section>

@section scripts{
    <!-- Vendor -->
    <script src="~/Areas/NVIDIA/Content/Template/Sysadmin/assets/plugins/select2/js/select2.min.js"></script>
    <script src="~/Areas/NVIDIA/Content/Template/Sysadmin/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/Areas/NVIDIA/Content/Template/Sysadmin/assets/plugins/datatable/js/dataTables.bootstrap5.min.js"></script>

    <!-- Custom -->
    <script src="~/Areas/NVIDIA/Content/Custom/Common/js/UserCommon.js"></script>
    <script src="~/Areas/NVIDIA/Content/Custom/Common/js/RoleCommon.js"></script>

    <script src="~/Areas/NVIDIA/Content/Custom/Admin/js/Role/RoleManagement.js"></script>

}


