.dt-buttons.btn-group button {
    line-height: 1;
}
#table_DeviceComing td:nth-child(3) {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#table_DeviceComing td:nth-child(4) {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#table_DeviceComing td:nth-child(5) {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.order-action a {
    font-size: 15px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f1f1f1;
    text-align: center;
    border-radius: 20%;
    margin: 0px 3px;
}
    .order-action a:hover {
        box-shadow: 0px 0px 10px 0px #888888 !important;
    }

html.dark-theme .select2-container--bootstrap4 .select2-selection {
    background-color: #1e1e1e !important
}
#table_Devices td:nth-child(2) {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#table_Devices td:nth-child(3) {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#table_Devices td:nth-child(4) {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#table_Devices td:nth-child(5) {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}