
@{
    ViewBag.Title = "EDIT_LUX_STATION";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_AdminPage.cshtml";
    var session = (ToolingRoomManagement.Common.UserLogin)Session[ToolingRoomManagement.Common.CommonConstants.USER_SESSION];
}

<script src="~/Assets/admin/js/vendor/jquery-1.12.4.min.js"></script>
<style>
    .animation {
        background-color: red;
        position: relative;
        animation-name: example;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }

    .tblShow {
        border: 1px solid;
    }

        .tblShow thead tr th {
            vertical-align: middle;
            background: #2d9aca;
            padding: 0px 0px 0px 5px;
            position: sticky;
            top: -3px;
            font-size: 1.5vh;
            text-align: center;
        }

        .tblShow tbody tr td {
            vertical-align: middle;
            padding: 6px 15px;
            font-size: 1.5vh;
            text-align: center;
        }

    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    ::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 4px 9px rgba(0,0,0,0.3);
        border-radius: 10px;
    }

    /*@@media (min-width: 900px) {
        .modal-sm {
            width: 60%;
        }

        .modal-sm1 {
            width: 80%;
        }
    }*/

    @@media (min-width: 900px) {
        .modal-content {
            -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
            box-shadow: 0 5px 15px rgba(0,0,0,.5);
        }
    }

    .nav-tabs li:hover a {
        color: black;
    }
</style>
<div>
    <div class="header-advance-area">

        <!-- Mobile Menu start -->
        <div class="mobile-menu-area">
            <div class="container">

            </div>
        </div>
        <!-- Mobile Menu end -->
        <div class="breadcome-area" style="margin-top: 40px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcome-list" style="padding: 10px 20px 10px 20px;margin: 30px 0px 10px 0px;">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="breadcomb-wp">
                                        <div class="breadcomb-icon zoom" data-toggle="tooltip" data-placement="bottom" title="Home">
                                            @if (session.GroupID == 1)
                                            {
                                                <a href="/Admin/Admin/Index"><i class="icon nalika-home"></i></a>
                                            }
                                            else if (session.GroupID == 2)
                                            {
                                                <a href="/Admin/Admin/UserPage"><i class="icon nalika-home"></i></a>
                                            }
                                            else if (session.GroupID == 3)
                                            {
                                                <a href="/Admin/Admin/StaffPage"><i class="icon nalika-home"></i></a>
                                            }
                                            else if (session.GroupID == 4)
                                            {
                                                <a href="/Admin/Admin/Confirm_Page"><i class="icon nalika-home"></i></a>
                                            }
                                        </div>
                                        <div class="breadcomb-ctn">
                                            <h2 langKey="">LUX</h2>
                                            <p>Welcome to Tooling <span class="bread-ntd">Room</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="breadcomb-report">
                                        <button data-toggle="tooltip" data-placement="left" title="Export To Excel" class="btn" onclick="fnExcelReport()"><i class="icon nalika-download"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="product-sales-area mg-tb-30" style="margin: 10px 0px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 733px;">
                    <div class="product-sales-chart" style="padding: 5px 10px 5px 20px;height:100%;">
                        <div class="portlet-title">
                            <div class="row">
                                <div>
                                    <div class="ng-isolate-scope" style="float:left;width:11%;background: #354d7d; border-radius: 5px;">
                                        <ul class="nav nav-tabs">
                                            <li onclick="show_table('tbl_FT1')" class="uib-tab nav-item ng-scope ng-isolate-scope" style="">
                                                <a class="nav-link ng-binding" uib-tab-heading-transclude="" style="color:white;">FT1</a>
                                            </li>
                                            <li onclick="show_table('tbl_FT3')" class="uib-tab nav-item ng-scope ng-isolate-scope" style="">
                                                <a class="nav-link ng-binding" uib-tab-heading-transclude="" style="color:white;">FT3</a>
                                            </li>
                                        </ul>

                                    </div>
                                    <div class="col-lg-2 col-md-7 col-sm-6 col-xs-12" style="float:right;width: 300px;margin-right:25px;">
                                        <div class="header-top-menu tabl-d-n hd-search-rp">
                                            <div class="breadcome-heading" style="margin: 0px 0px 10px 0px;">
                                                <form role="search" class="">
                                                    <input id="input_searchFT1" type="text" placeholder="Search..." class="form-control" style="width: 283px;color: #fffaf0;height: 39px;">
                                                    <input id="input_searchFT3" type="text" placeholder="Search..." class="form-control" style="width: 283px;color: #fffaf0;height: 39px;display:none;">
                                                    <a href="" style="left: 257px;margin-top: -23px;"><i class="fa fa-search"></i></a>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="width:100%;float:left;height: 655px;">
                                    <div style="padding: 5px 26px 5px 10px;overflow:auto;">
                                        <div style="width:100%;float:left;height: 655px;">
                                            <div style="padding: 5px 26px 5px 10px;overflow:auto;">
                                            </div>
                                            <div style="overflow:auto;height: 645px;">
                                                <button id="create_FT1" onclick="OpenModalAddFT1()" style="width: 140px;height: 35px;background: green;border-radius: 10px;border: 1px solid;color: white;">Create</button>
                                                <button id="create_FT3" onclick="OpenModalAddFT3()" style="width: 140px;height: 35px;background: green;border-radius: 10px;border: 1px solid;color: white;display:none;">Create</button>
                                                <table id="tbl_FT1" class="tblShow table-bordered" style="width: 100%; color:white;">
                                                    <thead style="background:#5c7096;">
                                                        <tr style="height:4vh;">
                                                            <th scope="col" style="text-align:center;" colspan="11">LUX FT1</th>
                                                        </tr>
                                                        <tr style="height:3vh;">
                                                            <th scope="col" style="text-align:center;width:4%">#</th>
                                                            <th scope="col" style="text-align:center;width:9%">DATE</th>
                                                            <th scope="col" style="text-align:center;width:10%">TEN HANG</th>
                                                            <th scope="col" style="text-align:center;width:10%">SN HOP DEN</th>
                                                            <th scope="col" style="text-align:center;width:10%">2 LUX</th>
                                                            <th scope="col" style="text-align:center;width:10%">5 LUX</th>
                                                            <th scope="col" style="text-align:center;width:10%">10 LUX</th>
                                                            <th scope="col" style="text-align:center;width:10%">1000 LUX</th>
                                                            <th scope="col" style="text-align:center;width:10%">2000 LUX</th>
                                                            <th scope="col" style="text-align:center;width:10%">5000 LUX</th>
                                                            <th scope="col" style="text-align:center;width:6%">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbd_FT1"></tbody>
                                                </table>
                                                <table id="tbl_FT3" class="tblShow table-bordered" style="width: 100%; color:white;display:none;">
                                                    <thead style="background:#5c7096;">
                                                        <tr style="height:4vh;">
                                                            <th scope="col" style="text-align:center;" colspan="11">LUX FT3</th>
                                                        </tr>
                                                        <tr style="height:2vh;">
                                                            <th scope="col" rowspan="2" style="text-align:center;width:4%">#</th>
                                                            <th rowspan="2" style="width: 12%;">DATE</th>
                                                            <th rowspan="2" style="width: 13%;">TEN HANG</th>
                                                            <th rowspan="2" style="width: 12%;">SN HOP DEN</th>
                                                            <th rowspan="1" colspan="2">5000K</th>
                                                            <th rowspan="1" colspan="2">6500K</th>
                                                            <th rowspan="1" colspan="2">3100K</th>
                                                            <th scope="col" rowspan="2" style="text-align:center;width:9%">Action</th>
                                                        </tr>
                                                        <tr style="height:3vh;">
                                                            <th rowspan="1" style="width: 9%;">LUX</th>
                                                            <th rowspan="1" style="width: 9%;">K</th>
                                                            <th rowspan="1" style="width: 9%;">LUX</th>
                                                            <th rowspan="1" style="width: 9%;">K</th>
                                                            <th rowspan="1" style="width: 9%;">LUX</th>
                                                            <th rowspan="1" style="width: 9%;">K</th>
                                                            
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbd_FT3"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="myModalFT1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="margin-left: 50px;">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">FT1</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="CloseModal()">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" style="height:60vh; overflow:auto;">
                <input hidden id="id_ft1" />
                <table class="tblCreate" style="width:85%;float: left;margin-left:100px;">
                    <tr style="height:50px;">
                        <td langKey="">Model Name: </td>
                        <td><input class="form-control" id="model_name" style="border: 1px solid #a58147;border-radius: 20px;background: white;color: black; width: 80%;" /></td>
                    </tr>
                    <tr style="height:50px;">
                        <td langKey="">SN Light-Box : </td>
                        <td><input type="text" class="form-control" id="sn_lightbox" style="border: 1px solid #a58147;border-radius: 20px;background: white;color: black; width: 80%;" /></td>
                    </tr>
                    <tr style="height:50px;">
                        <td langKey="">2 LUX : </td>
                        <td><input type="text" class="form-control" id="LUX_2_ft1" style="border: 1px solid #a58147;border-radius: 20px;background: white;color: black; width: 80%;" /></td>
                    </tr>
                    <tr style="height:50px;">
                        <td langKey="">5 LUX : </td>
                        <td><input type="text" class="form-control" id="LUX_5_ft1" style="border: 1px solid #a58147;border-radius: 20px;background: white;color: black; width: 80%;" /></td>
                    </tr>
                    <tr style="height:50px;">
                        <td langKey="">10 LUX : </td>
                        <td><input type="text" class="form-control" id="LUX_10_ft1" style="border: 1px solid #a58147;border-radius: 20px;background: white;color: black; width: 80%;" /></td>
                    </tr>
                    <tr style="height:50px;">
                        <td langKey="">1000 LUX : </td>
                        <td><input type="text" class="form-control" id="LUX_1000_ft1" style="border: 1px solid #a58147;border-radius: 20px;background: white;color: black; width: 80%;" /></td>
                    </tr>
                    <tr style="height:50px;">
                        <td langKey="">2000 LUX : </td>
                        <td><input type="text" class="form-control" id="LUX_2000_ft1" style="border: 1px solid #a58147;border-radius: 20px;background: white;color: black; width: 80%;" /></td>
                    </tr>
                    <tr style="height:50px;">
                        <td langKey="">5000 LUX : </td>
                        <td><input type="text" class="form-control" id="LUX_5000_ft1" style="border: 1px solid #a58147;border-radius: 20px;background: white;color: black; width: 80%;" /></td>
                    </tr>
                </table>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary close">Close</button>*@
                <button type="button" class="btn btn-secondary btnClick" onclick="Add_FT1()" langKey="complete">Complete</button>
            </div>

        </div>
    </div>
</div>
<div class="modal" id="myModalFT3">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="margin-left: 50px;">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Login</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="CloseModal()">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" style="height:60vh; overflow:auto;">
                <input hidden id="id_ft3" />
                <table class="tblCreate" style="width:85%;float: left;margin-left:100px;">
                    <tr style="height:50px;">
                        <td langKey="" colspan="2">FT3: </td>
                        <td><input class="form-control" id="model_name_ft3" style="border: 1px solid #a58147;border-radius: 20px;background: white;color: black; width: 80%;" /></td>
                    </tr>
                    <tr style="height:50px;">
                        <td langKey="" colspan="2">SN Light-Box : </td>
                        <td><input type="text" class="form-control" id="sn_lightboxFT3" style="border: 1px solid #a58147;border-radius: 20px;background: white;color: black; width: 80%;" /></td>
                    </tr>
                    <tr style="height:50px;">
                        <td langKey="" rowspan="2">5000K </td>
                        <td>LUX :</td>
                        <td><input type="text" class="form-control" id="LUX_1" style="border: 1px solid #a58147;border-radius: 20px;background: white;color: black; width: 80%;" /></td>
                    </tr>
                    <tr style="height:50px;">
                        <td>K :</td>
                        <td><input type="text" class="form-control" id="K_1" style="border: 1px solid #a58147;border-radius: 20px;background: white;color: black; width: 80%;" /></td>
                    </tr>
                    <tr style="height:50px;">
                        <td langKey="" rowspan="2">6500K </td>
                        <td>LUX :</td>
                        <td><input type="text" class="form-control" id="LUX_2" style="border: 1px solid #a58147;border-radius: 20px;background: white;color: black; width: 80%;" /></td>
                    </tr>
                    <tr style="height:50px;">
                        <td>K :</td>
                        <td><input type="text" class="form-control" id="K_2" style="border: 1px solid #a58147;border-radius: 20px;background: white;color: black; width: 80%;" /></td>
                    </tr>
                    <tr style="height:50px;">
                        <td langKey="" rowspan="2">3100K </td>
                        <td>LUX :</td>
                        <td><input type="text" class="form-control" id="LUX_3" style="border: 1px solid #a58147;border-radius: 20px;background: white;color: black; width: 80%;" /></td>
                    </tr>
                    <tr style="height:50px;">
                        <td>K :</td>
                        <td><input type="text" class="form-control" id="K_3" style="border: 1px solid #a58147;border-radius: 20px;background: white;color: black; width: 80%;" /></td>
                    </tr>
                </table>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btnClick" onclick="Add_FT3()" langKey="complete">Complete</button>
            </div>

        </div>
    </div>
</div>
<script>
    $("#input_searchFT1").show();
    $("#input_searchFT3").hide();
    $("#create_FT1").show();
    $("#create_FT3").hide();
    $("#tbl_FT1").show();
    $("#tbl_FT3").hide();
    function loadDataFT1() {
        $("#tbd_FT1").empty();
        $.ajax({
            type: "POST",
            url: "/LUXFT1/getDataView",
            contentType: "application/json",
            datatype: "json/text",
            success: function (data) {
                var row = "";
                if (JSON.parse(data).length > 0) {
                    for (i = 0; i < JSON.parse(data).length; i++) {
                        var edit = "'" + JSON.parse(data)[i].id + "','" + JSON.parse(data)[i].model_name + "','" + JSON.parse(data)[i].SN_lightbox + "','" + JSON.parse(data)[i].LUX_2 + "','" + JSON.parse(data)[i].LUX_5 + "','" + JSON.parse(data)[i].LUX_10 + "','" + JSON.parse(data)[i].LUX_1000 + "','" + JSON.parse(data)[i].LUX_2000 + "','" + JSON.parse(data)[i].LUX_5000 + "'";
                        row += '<tr>' +
                            '<td>' + (i + 1) + '</td>' +
                            '<td>' + convert_date(JSON.parse(data)[i].create_date) + '</td>' +
                            '<td>' + JSON.parse(data)[i].model_name + '</td>' +
                            '<td>' + JSON.parse(data)[i].SN_lightbox + '</td>' +
                            '<td>' + JSON.parse(data)[i].LUX_2 + '</td>' +
                            '<td>' + JSON.parse(data)[i].LUX_5 + '</td>' +
                            '<td>' + JSON.parse(data)[i].LUX_10 + '</td>' +
                            '<td>' + JSON.parse(data)[i].LUX_1000 + '</td>' +
                            '<td>' + JSON.parse(data)[i].LUX_2000 + '</td>' +
                            '<td>' + JSON.parse(data)[i].LUX_5000 + '</td>' +
                            '<td><a class="fa fa-edit" style="color:orange" onclick="OpenModalFT1(' + edit + ')"></a> <a class="fa fa-trash" style="color:red" onclick="DeleteFT1(' + JSON.parse(data)[i].id + ')"></a></td>' +
                            +'</tr>'
                    }
                } else {
                    row = '<tr><td colspan="11">_____________No Data_____________</td></tr>';
                }
                $("#tbd_FT1").append(row);

            },
            error: function (returnval) {
            }
        });
    }
    loadDataFT1();
    function loadDataFT3() {
        $("#tbd_FT3").empty();
        $.ajax({
            type: "POST",
            url: "/LUXFT3/getDataView",
            contentType: "application/json",
            datatype: "json/text",
            success: function (data) {
                var row = "";
                if (JSON.parse(data).length > 0) {
                    for (i = 0; i < JSON.parse(data).length; i++) {
                        var edit = "'" + JSON.parse(data)[i].id + "','" + JSON.parse(data)[i].model_name + "','" + JSON.parse(data)[i].SN_lightbox + "','" + JSON.parse(data)[i].LUX_1 + "','" + JSON.parse(data)[i].K_1 + "','" + JSON.parse(data)[i].LUX_2 + "','" + JSON.parse(data)[i].K_2 + "','" + JSON.parse(data)[i].LUX_3 + "','" + JSON.parse(data)[i].K_3 + "'";
                        row += '<tr>' +
                            '<td>' + (i + 1) + '</td>' +
                            '<td>' + convert_date(JSON.parse(data)[i].create_date) + '</td>' +
                            '<td>' + JSON.parse(data)[i].model_name + '</td>' +
                            '<td>' + JSON.parse(data)[i].SN_lightbox + '</td>' +
                            '<td>' + JSON.parse(data)[i].LUX_1 + '</td>' +
                            '<td>' + JSON.parse(data)[i].K_1 + '</td>' +
                            '<td>' + JSON.parse(data)[i].LUX_2 + '</td>' +
                            '<td>' + JSON.parse(data)[i].K_2 + '</td>' +
                            '<td>' + JSON.parse(data)[i].LUX_3 + '</td>' +
                            '<td>' + JSON.parse(data)[i].K_3 + '</td>' +
                            '<td><a class="fa fa-edit" style="color:orange" onclick="OpenModalFT3(' + edit + ')"></a> <a class="fa fa-trash" style="color:red" onclick="DeleteFT3(' + JSON.parse(data)[i].id + ')"></a></td>' +
                            +'</tr>'
                    }
                } else {
                    row = '<tr><td colspan="11">_____________No Data_____________</td></tr>';
                }
                $("#tbd_FT3").append(row);

            },
            error: function (returnval) {
            }
        });
    }
    loadDataFT3();
    function show_table(id_table) {
        var i;
        var x = document.getElementsByClassName("table");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        if (id_table == "tbl_FT1") {
            $("#input_searchFT1").show();
            $("#input_searchFT3").hide();

            $("#create_FT1").show();
            $("#create_FT3").hide();

            $("#tbl_FT1").show();
            $("#tbl_FT3").hide();
        } else {
            $("#input_searchFT3").show();
            $("#input_searchFT1").hide();

            $("#create_FT3").show();
            $("#create_FT1").hide();

            $("#tbl_FT3").show();
            $("#tbl_FT1").hide();
        }
    }
    var modalFT1 = document.getElementById("myModalFT1");
    var modalFT3 = document.getElementById("myModalFT3");
    function OpenModalAddFT1() {
        $("#id_ft1").val("");
        $("#sn_lightbox").val("");
        $("#model_name").val("");
        $("#LUX_2_ft1").val("");
        $("#LUX_5_ft1").val("");
        $("#LUX_10_ft1").val("");
        $("#LUX_1000_ft1").val("");
        $("#LUX_2000_ft1").val("");
        $("#LUX_5000_ft1").val("");
        modalFT1.style.display = "block";
    }
    function OpenModalAddFT3() {
        $("#id_ft3").val("");
        $("#sn_lightboxFT3").val("");
        $("#model_name_ft3").val("");
        $("#LUX_1").val("");
        $("#LUX_2").val("");
        $("#LUX_3").val("");
        $("#K_1").val("");
        $("#K_2").val("");
        $("#K_3").val("");
        modalFT3.style.display = "block";
    }
    function CloseModal() {
        modalFT1.style.display = "none";
        modalFT3.style.display = "none";
    }
    function Add_FT1() {
        var id = $("#id_ft1").val();
        var model_name;
        var sn_lightbox;
        var LUX_2_ft1;
        var LUX_5_ft1;
        var LUX_10_ft1;
        var LUX_1000_ft1;
        var LUX_2000_ft1;
        var LUX_5000_ft1;
        if ($("#model_name").val() != 0) {
            model_name = $("#model_name").val();
        } else {
            alert("Pls fill Model name!");
            return;
        }
        if ($("#sn_lightbox").val() != 0) {
            sn_lightbox = $("#sn_lightbox").val();
        } else {
            alert("Pls fill SN Light-Box!");
            return;
        }
        if ($("#LUX_2_ft1").val() != 0) {
            LUX_2_ft1 = $("#LUX_2_ft1").val();
        } else {
            alert("Pls fill 2 LUX!");
            return;
        }
        if ($("#LUX_5_ft1").val() != 0) {
            LUX_5_ft1 = $("#LUX_5_ft1").val();
        } else {
            alert("Pls fill 5 LUX!");
            return;
        }
        if ($("#LUX_10_ft1").val() != 0) {
            LUX_10_ft1 = $("#LUX_10_ft1").val();
        } else {
            alert("Pls fill 10 LUX!");
            return;
        }
        if ($("#LUX_1000_ft1").val() != 0) {
            LUX_1000_ft1 = $("#LUX_1000_ft1").val();
        } else {
            alert("Pls fill 1000 LUX!");
            return;
        }
        if ($("#LUX_2000_ft1").val() != 0) {
            LUX_2000_ft1 = $("#LUX_2000_ft1").val();
        } else {
            alert("Pls fill 2000 LUX!");
            return;
        }
        if ($("#LUX_5000_ft1").val() != 0) {
            LUX_5000_ft1 = $("#LUX_5000_ft1").val();
        } else {
            alert("Pls fill 5000 LUX!");
            return;
        }
        var data = new FormData;
        data.append("id", id);
        data.append("model_name", model_name);
        data.append("sn_lightbox", sn_lightbox);
        data.append("LUX_2_ft1", LUX_2_ft1);
        data.append("LUX_5_ft1", LUX_5_ft1);
        data.append("LUX_10_ft1", LUX_10_ft1);
        data.append("LUX_1000_ft1", LUX_1000_ft1);
        data.append("LUX_2000_ft1", LUX_2000_ft1);
        data.append("LUX_5000_ft1", LUX_5000_ft1);
        
        $.ajax({
            type: "POST",
            url: "/LUXFT1/Insert",
            data: data,
            processData: false,
            contentType: false,
            datatype: "json/text",
            success: function (data) {
                if (data == "OK") {
                    loadDataFT1();
                    alert("Success!");
                    modalFT1.style.display = "none";
                } else {
                    alert("Fail!");
                }

            },
            error: function (returnval) {
                alert("False Ajax! Please Call 31746!");
            }
        });

    }
    function OpenModalFT1(id, model_name, sn_lightbox, LUX_2, LUX_5, LUX_10, LUX_1000, LUX_2000, LUX_5000) {
        $("#id_ft1").val("");
        $("#sn_lightbox").val("");
        $("#model_name").val("");
        $("#LUX_2_ft1").val("");
        $("#LUX_5_ft1").val("");
        $("#LUX_10_ft1").val("");
        $("#LUX_1000_ft1").val("");
        $("#LUX_2000_ft1").val("");
        $("#LUX_5000_ft1").val("");
        $("#id_ft1").val(id);
        $("#sn_lightbox").val(sn_lightbox);
        $("#model_name").val(model_name);
        $("#LUX_2_ft1").val(LUX_2);
        $("#LUX_5_ft1").val(LUX_5);
        $("#LUX_10_ft1").val(LUX_10);
        $("#LUX_1000_ft1").val(LUX_1000);
        $("#LUX_2000_ft1").val(LUX_2000);
        $("#LUX_5000_ft1").val(LUX_5000);
        modalFT1.style.display = "block";
    }
    function Add_FT3() {
        var id_ft3 = $("#id_ft3").val();
        var model_name_ft3;
        var sn_lightboxFT3;
        var LUX_1;
        var K_1;
        var LUX_2;
        var K_2;
        var LUX_3;
        var K_3;
        if ($("#model_name_ft3").val() != 0) {
            model_name_ft3 = $("#model_name_ft3").val();
        } else {
            alert("Pls fill Model name!");
            return;
        }
        if ($("#sn_lightboxFT3").val() != 0) {
            sn_lightboxFT3 = $("#sn_lightboxFT3").val();
        } else {
            alert("Pls fill SN Light-Box!");
            return;
        }
        if ($("#LUX_1").val() != 0) {
            LUX_1 = $("#LUX_1").val();
        } else {
            alert("Pls fill LUX of 5000K!");
            return;
        }
        if ($("#K_1").val() != 0) {
            K_1 = $("#K_1").val();
        } else {
            alert("Pls fill K of 5000K!");
            return;
        }
        if ($("#LUX_2").val() != 0) {
            LUX_2 = $("#LUX_2").val();
        } else {
            alert("Pls fill LUX of 6500K!");
            return;
        }
        if ($("#K_2").val() != 0) {
            K_2 = $("#K_2").val();
        } else {
            alert("Pls fill K of 6500K!");
            return;
        }
        if ($("#LUX_3").val() != 0) {
            LUX_3 = $("#LUX_3").val();
        } else {
            alert("Pls fill LUX of 3100K!");
            return;
        }
        if ($("#K_3").val() != 0) {
            K_3 = $("#K_3").val();
        } else {
            alert("Pls fill K of 3100K!");
            return;
        }
        var data = new FormData;
        data.append("id", id_ft3);
        data.append("model_name", model_name_ft3);
        data.append("sn_lightbox", sn_lightboxFT3);
        data.append("LUX_1", LUX_1);
        data.append("K_1", K_1);
        data.append("LUX_2", LUX_2);
        data.append("K_2", K_2);
        data.append("LUX_3", LUX_3);
        data.append("K_3", K_3);
        $.ajax({
            type: "POST",
            url: "/LUXFT3/Insert",
            data: data,
            processData: false,
            contentType: false,
            datatype: "json/text",
            success: function (data) {
                if (data == "OK") {
                    loadDataFT3();
                    alert("Success!");
                    modalFT3.style.display = "none";
                } else {
                    alert("Fail!");
                }

            },
            error: function (returnval) {
                alert("False Ajax! Please Call 31746!");
            }
        });
    }
    function OpenModalFT3(id, model_name, sn_lightbox, LUX_1, K_1, LUX_2, K_2,LUX_3, K_3) {
        $("#id_ft3").val("");
        $("#sn_lightboxFT3").val("");
        $("#model_name_ft3").val("");
        $("#LUX_1").val("");
        $("#LUX_2").val("");
        $("#LUX_3").val("");
        $("#K_1").val("");
        $("#K_2").val("");
        $("#K_3").val("");
        $("#id_ft3").val(id);
        $("#sn_lightboxFT3").val(sn_lightbox);
        $("#model_name_ft3").val(model_name);
        $("#LUX_1").val(LUX_1);
        $("#LUX_2").val(LUX_2);
        $("#LUX_3").val(LUX_3);
        $("#K_1").val(K_1);
        $("#K_2").val(K_2);
        $("#K_3").val(K_3);
        modalFT3.style.display = "block";
    }
    function DeleteFT1(id) {
        if (confirm("Do you want to delete this row?")) {
            //alert(id_delete);
            $.ajax({
                type: "POST",
                url: "/LUXFT1/Delete?id=" + id,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    alert("SUCCESS!");
                    loadDataFT1();
                }
            });
        }
    }
    function DeleteFT3(id) {
        if (confirm("Do you want to delete this row?")) {
            //alert(id_delete);
            $.ajax({
                type: "POST",
                url: "/LUXFT3/Delete?id=" + id,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    alert("SUCCESS!");
                    loadDataFT3();
                }
            });
        }
    }
    function convert_date(date) {
        var completedDate = new Date(parseInt(date.replace("/Date(", "").replace(")/")));
        var dd = completedDate.getDate();
        var mm = completedDate.getMonth() + 1; //January is 0!
        var yyyy = completedDate.getFullYear();
        if (dd < 10) { dd = '0' + dd }
        if (mm < 10) { mm = '0' + mm }
        return dd + '-' + mm + '-' + yyyy;
    }
</script>

