
@{
    Layout = null;
}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Home</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="~/Assets/admin/img/favicon.ico" rel="icon">

    <!-- Vendor CSS Files -->
    <link href="/Assets/homePage/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Assets/homePage/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="/Assets/homePage/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/Assets/homePage/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/Assets/homePage/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="/Assets/homePage/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Assets/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Template Main CSS File -->
    <link href="/Assets/homePage/css/style.css?v=@Guid.NewGuid()" rel="stylesheet">
    @RenderSection("styles", required: false)

</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0" style="background:#14100f;">
    <!-- ======= Header ======= -->
    <div id="header-sticky-wrapper" class="sticky-wrapper" style="height: 120px;background:#1b2a47;">
        <header id="header" style="background: #1B2A47;" class="">
            <div class="container d-flex justify-content-center align-items-center" style="height: 110px;">
                <i class="fa-duotone fa-solid fa-gear me-3 fa-spin" style="font-size: 90px; color: #ffc849; --fa-animation-duration: 5s; "></i>
                <span class="title-animate">TOOLING ROOM SYSTEM</span>
            </div>
        </header>
    </div><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero_nam" style="background: #152036;">
        <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">
            @RenderBody()
        </div>
    </section><!-- End Hero -->
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="text-center fs-6 py-3">@DateTime.Now.Year © <strong>MBD AUTOMATION-IOT</strong></div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top" style="display: none;"><i class="icofont-simple-up"></i></a>

    <!-- Template Main JS File -->

    @RenderSection("javascript", required: false)
</body>
</html>




