<!-- Borrow Request modal -->
<div class="modal fade" id="borrow_modal" aria-hidden="true" data-bs-focus="false">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="borrow_modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2 class="font-weight-light text-center text-primary py-3" id="borrow_modal-name">REQUEST DETAILS</h2>

                <div class="row">
                    <div class="col-md-2">
                        <label class="form-label">Card Id</label>
                        <input type="text" class="form-control form-control-sm" id="borrow_modal-CardId" disabled>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">User Name</label>
                        <input type="text" class="form-control form-control-sm" id="borrow_modal-Username" disabled>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Use for Model</label>
                        <input type="text" class="form-control form-control-sm" id="borrow_modal-Model" disabled>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Use for Station</label>
                        <input type="text" class="form-control form-control-sm" id="borrow_modal-Station" disabled>
                    </div>

                    <div class="col-md-4 mt-3">
                        <label class="form-label" typeName>Date Borrow</label>
                        <input type="datetime-local" class="form-control form-control-sm" id="borrow_modal-BorrowDate" disabled>
                    </div>
                    <div class="col-md-4 mt-3" checkType>
                        <label class="form-label">Due Date</label>
                        <input type="datetime-local" class="form-control form-control-sm" id="borrow_modal-DuaDate" disabled>
                    </div>
                    <div class="col-md-4 mt-3" checkType>
                        <label class="form-label">Return Date</label>
                        <input type="datetime-local" class="form-control form-control-sm" id="borrow_modal-ReturnDate" disabled>
                    </div>
                    <div class="col-md-12 mt-3">
                        <label class="form-label">Note</label>
                        <div class="form-control" rows="3" id="borrow_modal-Note"><p></p></div>
                    </div>
                </div>

                <div class="mt-3">
                    <h4 class="font-weight-light text-center text-white py-3">DEVICES LIST</h4>
                    <table class="table table-bordered table-hover" id="borrow_modal-table">
                        <thead>
                            <tr>
                                <th style="min-width: 120px;">MTS</th>
                                <th style="min-width: 120px;">PN</th>
                                <th>Description</th>
                                <th class="text-center">Unit</th>
                                <th class="text-danger text-center" style="width: 200px;">Quantity</th>
                            </tr>
                        </thead>
                        <tbody id="borrow_modal-table-tbody">
                        </tbody>
                    </table>
                </div>

                <div class="container py-2" id="sign-container">
                    <h4 class="font-weight-light text-center text-white py-3">SIGN PROCESS</h4>

                </div>
            </div>
            <div class="modal-footer">
                <div class="w-100 text-center" id="borrow_action_footer" style="display: none;">
                    <button type="button" class="btn btn-outline-danger" btn-reject onclick="Reject(this, event, 'B')"><i class="bx bx-x"></i>Reject</button>
                    <button type="button" class="btn btn-success ms-3" btn-approve onclick="Approve(this, event, 'B')"><i class="bx bx-check"></i>Approve</button>
                </div>
                <div id="borrow_normal_footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
