<div class="modal fade" id="UpdatePurchaseRequestModal" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-uppercase">Update Purchase Request Modal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body">
                <!-- Request -->
                <div class="card">
                    <div class="card-body">
                        <h6 class="mb-0 text-primary text-uppercase">Request</h6>
                        <hr>

                        <input type="hidden" id="UpdatePurchaseRequestModal-Id" />
                        <input type="hidden" id="UpdatePurchaseRequestModal-RowIndex" />
                        <input type="hidden" id="UpdatePurchaseRequestModal-Status" />

                        <div class="row">
                            <div class="col-6">
                                <!-- User Request -->
                                <div class="input-group mb-3">
                                    <span class="col-4 input-group-text">User</span>
                                    <input type="text" id="UpdatePurchaseRequestModal-UserRequest" class="form-control" disabled />
                                </div>
                                <!-- Date Request-->
                                <div class="input-group mb-3">
                                    <span class="col-4 input-group-text">Date Request</span>
                                    <input type="datetime-local" id="UpdatePurchaseRequestModal-DateRequest" class="form-control" disabled />
                                </div>
                                <!-- Date Required -->
                                <div class="input-group mb-3">
                                    <span class="col-4 input-group-text">Date Required</span>
                                    <input type="datetime-local" id="UpdatePurchaseRequestModal-DateRequired" class="form-control" />
                                </div>
                            </div>
                            <div class="col-6">
                                <!-- Note -->
                                <div class="input-group mb-3" style="height: calc(100% - 1rem);">
                                    <span class="input-group-text">Note</span>
                                    <textarea type="text" id="UpdatePurchaseRequestModal-Note" class="form-control resize-none"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Device -->
                <div class="card">
                    <div class="card-body">
                        <h6 class="mb-0 text-primary text-uppercase">Devices</h6>
                        <hr>

                        <table id="UpdatePurchaseRequestModal-TableDevice" class="table table-striped table-hover table-bordered text-nowrap w-100 align-middle">
                            <thead>
                                <tr class="bg-secondary text-uppercase">
                                    <!-- 0 -->
                                    <th>Id</th>
                                    <!-- 1 -->
                                    <th>No.</th>
                                    <!-- 2 -->
                                    <th>PN</th>
                                    <!-- 3 -->
                                    <th>Request Qty</th>
                                    <!-- 4 -->
                                    <th>PR No.</th>
                                    <!-- 5 -->
                                    <th>PR Qty</th>
                                    <!-- 6 -->
                                    <th>PR Date</th>
                                    <!-- 7 -->
                                    <th>PO No.</th>
                                    <!-- 8 -->
                                    <th>PO Date</th>
                                    <!-- 9 -->
                                    <th>ETD</th>
                                    <!-- 10 -->
                                    <th>ETA</th>
                                    <!-- 11 -->
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>  

                
            </div>
        
            <div class="modal-footer" id="details_modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="UpdatePurchaseRequestSave()"><i class="fa-duotone fa-floppy-disk"></i> Save Change</button>
            </div>
        </div>
    </div>
</div>