.navbar {
    box-shadow: 0px 0px 10px 0px #888888 !important;
}
#card_SignIn {
    box-shadow: 0px 0px 10px 0px #888888 !important;
}
.swal2-container.swal2-center > .swal2-popup {
    box-shadow: 0px 0px 20px 6px #888888;
    background-color: black;
}
