<!-- Edit modal -->
<div class="modal fade" id="device_edit-modal" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="device_edit-title" data-i18n="device.management.update_device">Update Device</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Details -->
                <h5 class="font-weight-light text-center text-primary py-3" id="borrow_modal-name" data-i18n="device.management.device_details" style="text-transform:uppercase">DEVICE DETAILS</h5>

                <!-- Basic Info -->
                <div class="row">
                    <div class="col-8">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="mb-0 text-uppercase" data-i18n="device.management.basic_info">Basic Information</h6>
                                <hr>

                                <div class="row">
                                    <div class="col-6">
                                        <input type="hidden" id="device_edit-DeviceId" />
                                        <!-- Device Code-->
                                        <div class="row">
                                            <div class="input-group mb-3" title="Mã thiết bị">
                                                <span class="col-4 input-group-text" data-i18n="device.management.pn">PN</span>
                                                <input class="form-control" type="text" id="device_edit-DeviceCode">
                                            </div>
                                        </div>
                                        <!-- Device Name -->
                                        <div class="input-group mb-3">
                                            <span class="col-4 input-group-text" data-i18n="device.management.description">Description</span>
                                            <input class="form-control" type="text" id="device_edit-DeviceName">
                                        </div>
                                        <!-- Specification -->
                                        <div class="input-group mb-3">
                                            <span class="col-4 input-group-text" data-i18n="device.management.specification">Specification</span>
                                            <input class="form-control" type="text" id="device_edit-Specification">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <!-- Status + Type -->
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="input-group mb-3">
                                                    <span class="col-6 input-group-text" data-i18n="device.management.status">Status</span>
                                                    <select class="form-select" id="device_edit-Status">
                                                        <option value="Unconfirmed">Unconfirmed</option>
                                                        <option value="Part Confirmed">Part Confirmed</option>
                                                        <option value="Confirmed">Confirmed</option>
                                                        <option value="Locked">Locked</option>
                                                        <option value="Out Range">Out Range</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="input-group mb-3">
                                                    <span class="col-6 input-group-text" data-i18n="device.management.type">Type</span>
                                                    <select class="form-select" id="device_edit-Type">
                                                        <optgroup label="Normal">
                                                            <option value="normal_NA" selected>NA</option>
                                                            <option value="normal_Fixture">Fixture</option>
                                                            <option value="normal_Static">Static</option>
                                                            <option value="normal_Dynamic">Dynamic</option>
                                                        </optgroup>
                                                        <optgroup label="Consign">
                                                            <option value="consign_NA">NA</option>
                                                            <option value="consign_Fixture">Fixture</option>
                                                            <option value="consign_Static">Static</option>
                                                            <option value="consign_Dynamic">Dynamic</option>
                                                        </optgroup>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Device Date -->
                                        <div class="input-group mb-3">
                                            <span class="col-4 input-group-text" data-i18n="device.management.created_date">Created date</span>
                                            <input class="form-control" type="datetime-local" id="device_edit-CreatedDate">
                                        </div>
                                        <!-- DeliveryTime -->
                                        <div class="input-group mb-3">
                                            <span class="col-4 input-group-text" data-i18n="device.management.lead_time">Lead Time</span>
                                            <input class="form-control" type="number" id="device_edit-DeliveryTime1">
                                            <select class="form-select" id="device_edit-DeliveryTime2">
                                                <option value="Day">Day</option>
                                                <option value="Week" selected>Week</option>
                                                <option value="Month">Month</option>
                                                <option value="Quarter">Quarter</option>
                                                <option value="Year">Year</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h6 class="mb-0 text-uppercase" data-i18n="device.management.image">Images</h6>
                                    <h6 class="text-primary cursor-pointer" id="add-image" data-i18n="device.management.add_image"> Add Image</h6>
                                </div>

                                <hr>
                                <div id="images-edit-container">
                                    <div class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators"></ol>
                                        <div class="carousel-inner"></div>
                                        <a class="carousel-control-prev" href="javascript:;" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="javascript:;" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Details Info-->
                <div class="card">
                    <div class="card-body">
                        <h6 class="mb-0 text-uppercase" data-i18n="device.management.details_info">Details Information</h6>
                        <hr>

                        <div class="row">
                            <div class="col-6">

                                <div class="row">
                                    <div class="col-6">
                                        <!-- WareHouse -->
                                        <div class="input-group mb-3">
                                            <span class="col-5 input-group-text" data-i18n="device.management.warehouse">Warehouse</span>
                                            <select class="form-select" id="device_edit-WareHouse"></select>
                                        </div>
                                        <!-- Buffer -->
                                        <div class="input-group mb-3">
                                            <span class="col-5 input-group-text" data-i18n="device.management.buffer">Buffer</span>
                                            <input class="form-control" type="number" id="device_edit-Buffer">
                                        </div>
                                        <!-- BOM Quantity  -->
                                        <div class="input-group mb-3 d-none">
                                            <span class="col-5 input-group-text" data-i18n="device.management.bom_qty">BOM Quantity</span>
                                            <input class="form-control" type="number" id="device_edit-Quantity">
                                        </div>
                                        <!-- PO Quantity -->
                                        <div class="input-group mb-3">
                                            <span class="col-5 input-group-text" data-i18n="device.management.po_qty">PO Quantity</span>
                                            <input class="form-control" type="number" id="device_edit-POQty">
                                        </div>
                                        <!-- Unit -->
                                        <div class="input-group mb-3">
                                            <span class="col-5 input-group-text" data-i18n="device.management.unit">Unit</span>
                                            <input class="form-control" type="text" id="device_edit-Unit" list="device_edit-Unit_List" maxlength="50">
                                            <datalist id="device_edit-Unit_List">
                                                <option value="NA">NA</option>
                                                <option value="PCS">PCS (Cái)</option>
                                                <option value="BAG">BAG (Bao)</option>
                                                <option value="BOX">BOX (Hộp)</option>
                                                <option value="SET">SET (Bộ)</option>
                                                <option value="M">M (Meter)</option>
                                                <option value="CM">CM (Centimet)</option>
                                                <option value="KG">KG (Kilogram)</option>
                                                <option value="G">G (Gram)</option>
                                                <option value="L">L (Liter)</option>
                                                <option value="ML">ML (Mililiter)</option>
                                            </datalist>
                                        </div>
                                        <!-- MOQ -->
                                        <div class="input-group mb-3">
                                            <span class="col-5 input-group-text">MOQ</span>
                                            <input class="form-control" type="number" id="device_edit-MOQ">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <!-- Relation -->
                                        <div class="input-group mb-3" title="Mối liên hệ">
                                            <span class="col-5 input-group-text">Relation</span>
                                            <input class="form-control" type="text" id="device_edit-Relation">
                                        </div>
                                        <!-- LifeCycle-->
                                        <div class="input-group mb-3">
                                            <span class="col-5 input-group-text" data-i18n="device.management.life_cycle">Life Cycle</span>
                                            <input class="form-control" type="number" id="device_edit-LifeCycle">
                                        </div>
                                        <!-- QtyConfirm -->
                                        <div class="input-group mb-3">
                                            <span class="col-5 input-group-text" data-i18n="device.management.confirm_qty">Confirm Quantity</span>
                                            <input class="form-control" type="number" id="device_edit-QtyConfirm">
                                        </div>
                                        <!-- RealQty -->
                                        <div class="input-group mb-3">
                                            <span class="col-5 input-group-text fw-bold text-info" data-i18n="device.management.real_qty">Real Quantity</span>
                                            <input class="form-control" type="number" id="device_edit-RealQty">
                                        </div>
                                        <!-- Min Quantity -->
                                        <div class="input-group mb-3">
                                            <span class="col-5 input-group-text" data-i18n="device.management.min_quantity">Min Quantity</span>
                                            <input class="form-control" type="number" id="device_edit-MinQty">
                                        </div>                                        
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <!-- Alt PN -->
                                <div class="input-group mb-3">
                                    <span class="col-3 input-group-text">Alternative PN</span>
                                    <input class="form-control" type="email" id="device_edit-AltPNs" list="device_edit-Devices-List" multiple/>
                                    <datalist id="device_edit-Devices-List"></datalist>
                                </div>
                                <!-- Product -->
                                <div class="input-group mb-3">
                                    <span class="col-3 input-group-text" data-i18n="device.management.product">Product</span>
                                    <input class="form-control" type="text" id="device_edit-Product" list="device_edit-Product-List" />
                                    <datalist id="device_edit-Product-List"></datalist>
                                </div>
                                <!-- Model -->
                                <div class="input-group mb-3 d-none">
                                    <span class="col-3 input-group-text" data-i18n="device.management.model">Model</span>
                                    <input class="form-control" type="text" id="device_edit-Model" list="device_edit-Model-List" />
                                    <datalist id="device_edit-Model-List"></datalist>
                                </div>
                                <!-- Station -->
                                <div class="input-group mb-3 d-none">
                                    <span class="col-3 input-group-text" data-i18n="device.management.station">Station</span>
                                    <input class="form-control" type="text" id="device_edit-Station" list="device_edit-Station-List" />
                                    <datalist id="device_edit-Station-List"></datalist>
                                </div>
                                <!-- Group -->
                                <div class="input-group mb-3">
                                    <span class="col-3 input-group-text" data-i18n="device.management.group">Group</span>
                                    <input class="form-control" type="text" id="device_edit-Group" list="device_edit-Group-List" />
                                    <datalist id="device_edit-Group-List"></datalist>
                                </div>
                                <!-- Vendor -->
                                <div class="input-group mb-3">
                                    <span class="col-3 input-group-text" data-i18n="device.management.vendor">Vendor</span>
                                    <input class="form-control" type="text" id="device_edit-Vendor" list="device_edit-Vendor-List" />
                                    <datalist id="device_edit-Vendor-List"></datalist>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Layout -->
                <h5 class="font-weight-light text-center text-primary py-3" id="borrow_modal-name" data-i18n="device.management.device_location">DEVICE LOCATION</h5>
                <div id="layout-container"></div>
                <button type="button" class="btn btn-sm btn-outline-secondary w-100" id="new-layout" data-i18n="device.management.add_layout"><i class="fa-solid fa-plus"></i> Add Layout</button>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-i18n="global.close">Close</button>
                <button type="button" class="btn btn-primary" id="button-save_modal" data-i18n="global.save">Save</button>
            </div>
        </div>
    </div>
</div>
