@{
    ViewBag.Title = "New Device Manual";
    Layout = "~/Areas/NVIDIA/Views/Shared/_NvidiaLayoutShared.cshtml";
}

@section styles{
    <!-- Vendor -->
    <!-- Custom -->
    <link href="~/Areas/NVIDIA/Content/Custom/DeviceManagement/css/AddDeviceManual.css?v=@Guid.NewGuid()" rel="stylesheet" />
}

<!-- Breadcrumb -->
<div class="page-breadcrumb d-none d-sm-flex align-items-center py-3">
    <div class="breadcrumb-title pe-3">Manual</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="/NVIDIA/Dashboard"><i class="bx bx-home-alt"></i></a>
                </li>
                <li class="breadcrumb-item">
                    <a href="javascript:;">Device</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">New Device</li>
            </ol>
        </nav>
    </div>
</div>

<!-- Card table -->
<div class="card" id="card-device-details">
    <div class="card-body">
        <h5 class="card-title">New Device Manual</h5>
        <hr />
        <div class="form-body">
            <div class="row">
                <div class="col-4">
                    <!-- Device Code -->
                    <div class="input-group mb-3">
                        <span class="col-4 input-group-text">PN</span>
                        <input class="col-8 form-control" type="text" id="device_add-DeviceCode" maxlength="25" autocomplete="off" placeholder="Mã thiết bị" list="device_add-ListDeviceCode">
                        <datalist id="device_add-ListDeviceCode"></datalist>
                    </div>
                    <!-- Device Name -->
                    <div class="input-group mb-3">
                        <span class="col-4 input-group-text">Description</span>
                        <input class="col-8 form-control" type="text" id="device_add-DeviceName" maxlength="255" autocomplete="off" placeholder="Tên thiết bị" list="device_add-ListDeviceName">
                        <datalist id="device_add-ListDeviceName"></datalist>
                    </div>
                    <!-- Specification -->
                    <div class="input-group mb-3">
                        <span class="col-4 input-group-text">Specification</span>
                        <input class="col-8 form-control" type="text" id="device_add-Specification" maxlength="300" autocomplete="off" placeholder="Quy cách">
                    </div>
                    <!-- Device Date -->
                    <div class="input-group mb-3">
                        <span class="col-4 input-group-text">Created Date</span>
                        <input class="col-8 form-control" type="datetime-local" id="device_add-DeviceDate" autocomplete="off">
                    </div>
                    <!-- Buffer -->
                    <div class="input-group mb-3">
                        <span class="col-4 input-group-text">Buffer</span>
                        <input class="col-8 form-control" type="number" id="device_add-Buffer" autocomplete="off" placeholder="10 thiết bị  + Buffer 0.3 (30%) = 13">
                    </div>
                    <!-- LifeCycle -->
                    <div class="input-group mb-3">
                        <span class="col-4 input-group-text">Life Cycle</span>
                        <input class="col-8 form-control" type="number" id="device_add-LifeCycle" autocomplete="off" placeholder="Vòng đời (số lần sử dụng)">
                    </div>
                    <!-- Quantity -->
                    <div class="input-group mb-3">
                        <span class="col-4 input-group-text">Quantity</span>
                        <input class="col-8 form-control" type="number" id="device_add-Quantity" autocomplete="off" placeholder="Số lượng nhập vào kho">
                    </div>
                    <!-- Unit -->
                    <div class="input-group mb-3">
                        <span class="col-4 input-group-text">Unit</span>
                        <input class="col-8 form-control" type="text" id="device_add-Unit" list="device_add-Unit_List" autocomplete="off" placeholder="Đơn vị tính" maxlength="50">
                        <datalist id="device_add-Unit_List">
                            <option value="N/A">N/A</option>
                            <option value="PCS">PCS (Cái)</option>
                            <option value="BAG">BAG (Bao)</option>
                            <option value="BOX">BOX (Hộp)</option>
                            <option value="SET">SET (Bộ)</option>
                            <option value="M">M (Meter)</option>
                            <option value="CM">CM (Centimet)</option>
                            <option value="KG">KG (Kilogram)</option>
                            <option value="G">G (Gram)</option>
                            <option value="L">L (Liter)</option>
                            <option value="ML">ML (Mililiter)</option>
                        </datalist>
                    </div>
                    <!-- Min Qty -->
                    <div class="input-group mb-3">
                        <span class="col-4 input-group-text">MinQty</span>
                        <input class="col-8 form-control" type="number" id="device_add-MinQty" autocomplete="off" placeholder="Số lượng tối thiểu">
                    </div>
                </div>

                <div class="col-4">
                    <!-- Type -->
                    <div class="input-group mb-3">
                        <span class="col-4 input-group-text">Type</span>
                        <select class="form-select" id="device_add-Type">
                            <option value="#N/A">N/A</option>
                            <option value="S">Static (Cố định)</option>
                            <option value="D">Dynamic (Tiêu hao)</option>
                            <option value="Consign">Consign (Khách hàng tặng)</option>
                            <option value="Fixture">Fixture (Khuôn)</option>
                        </select>
                    </div>
                    <!-- DeliveryTime -->
                    <div class="input-group mb-3">
                        <span class="col-4 input-group-text">Lead Time</span>

                        <input class="form-control" id="device_add-DeliveryTime1" type="number" />

                        <select class="form-select" id="device_add-DeliveryTime2">
                            <option value="Day (Ngày)">Day (Ngày)</option>
                            <option value="Week (Tuần)" selected>Week (Tuần)</option>
                            <option value="Month (Tháng)">Month (Tháng)</option>
                            <option value="Quarter (Quý)">Quarter (Quý)</option>
                            <option value="Year (Năm)">Year (Năm)</option>
                        </select>
                    </div>
                    <!-- WareHouse -->
                    <div class="input-group mb-3">
                        <span class="col-4 input-group-text">Warehouse</span>
                        <select class="col-8 form-select" id="device_add-WareHouse"></select>
                    </div>
                    <!-- Product -->
                    <div class="input-group mb-3">
                        <span class="col-4 input-group-text">Product</span>
                        <input class="col-8 form-control" type="text" id="device_add-Product" list="device_add-Product_List" autocomplete="off" placeholder="Dùng cho hàng nào..." maxlength="120">
                        <datalist id="device_add-Product_List"></datalist>
                    </div>
                    <!-- Model -->
                    <div class="input-group mb-3">
                        <span class="col-4 input-group-text">Model</span>
                        <input class="col-8 form-control" type="text" id="device_add-Model" list="device_add-Model_List" autocomplete="off" placeholder="Dùng cho model nào..." maxlength="50">
                        <datalist id="device_add-Model_List"></datalist>
                    </div>
                    <!-- Station -->
                    <div class="input-group mb-3">
                        <span class="col-4 input-group-text">Station</span>
                        <input class="col-8 form-control" type="text" id="device_add-Station" list="device_add-Station_List" autocomplete="off" placeholder="Dùng cho trạm nào..." maxlength="50">
                        <datalist id="device_add-Station_List"></datalist>
                    </div>
                    <!-- Group -->
                    <div class="input-group mb-3">
                        <span class="col-4 input-group-text">Group</span>
                        <input class="col-8 form-control" type="text" id="device_add-Group" list="device_add-Group_List" autocomplete="off" placeholder="Nhóm thiết bị (vd: USB)" maxlength="50">
                        <datalist id="device_add-Group_List"></datalist>
                    </div>
                    <!-- Vendor -->
                    <div class="input-group mb-3">
                        <span class="col-4 input-group-text">Vendor</span>
                        <input class="col-8 form-control" type="text" id="device_add-Vendor" list="device_add-Vendor_List" autocomplete="off" placeholder="Nhà cung ứng" maxlength="120">
                        <datalist id="device_add-Vendor_List"></datalist>
                    </div>
                </div>
                <div class="col-4">
                    <!-- Layout -->
                    <div id="layout-container">
                    </div>
                    <button type="button" class="btn btn-sm btn-outline-secondary w-100" id="new-layout"><i class="fa-solid fa-plus"></i> Add Layout</button>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <button type="button" class="btn btn-outline-primary" id="AddDeviceManual">Add New Device</button>
        </div>
    </div>
</div>

@section scripts{
    <!-- Vendor -->
    <script src="~/Areas/NVIDIA/Content/Vendor/MomentJs/moment.js"></script>
    <!-- Custom -->
    <script src="~/Areas/NVIDIA/Content/Custom/DeviceManagement/js/AddDeviceManual.js?v=@Guid.NewGuid()"></script>
}