
@{
    ViewBag.Title = "Take Device";
    Layout = "~/Areas/NVIDIA/Views/Shared/_NvidiaLayoutShared.cshtml";
}

@section styles{
    <!-- Vendor -->
    @*<link href="~/Areas/NVIDIA/Content/Vendor/UploadAreaDropzone/UploadAreaDropzone.css" rel="stylesheet" />
    <link href="~/Areas/NVIDIA/Content/Template/Sysadmin/assets/plugins/datatable/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/Areas/NVIDIA/Content/Template/Sysadmin/assets/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/Areas/NVIDIA/Content/Template/Sysadmin/assets/plugins/select2/css/select2-bootstrap4.css" rel="stylesheet" />*@
    <!-- Custom -->
    <link href="~/Areas/NVIDIA/Content/Custom/DeviceManagement/css/TakeDevice.css?v=@Guid.NewGuid()" rel="stylesheet" />
}

<h2>TakeDevice</h2>


@section scripts{
    <!-- Vendor -->
    @*<script src="~/Areas/NVIDIA/Content/Vendor/UploadAreaDropzone/UploadAreaDropzone.js"></script>
    <script src="~/Areas/NVIDIA/Content/Template/Sysadmin/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/Areas/NVIDIA/Content/Template/Sysadmin/assets/plugins/datatable/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/Areas/NVIDIA/Content/Vendor/MomentJs/moment.js"></script>
    <script src="~/Areas/NVIDIA/Content/Template/Sysadmin/assets/plugins/select2/js/select2.min.js"></script>*@
    <!-- Custom -->
    <script src="~/Areas/NVIDIA/Content/Custom/DeviceManagement/js/TakeDevice.js?v=@Guid.NewGuid()"></script>
}
