
<div class="dropdown-menu dropdown-menu-end">
    <div class="row row-cols-3 g-3 p-3">
        <div class="col text-center">
            <a href="https://mbdiot.efoxconn.com:3333" class="app-box mx-auto bg-gradient-cosmic text-white" target="_blank">
                <i class='bx bx-cloud'></i>
            </a>
            <div class="app-title">Cloud</div>
        </div>
        <div class="col text-center">
            <a href="https://10.220.130.116" class="app-box mx-auto bg-gradient-burning text-white" target="_blank">
                <i class='bx bx-atom'></i>
            </a>
            <div class="app-title">Projects</div>
        </div>
        <div class="col text-center">
            <a href="https://mbdiot.efoxconn.com:3333" class="app-box mx-auto bg-gradient-lush text-white">
                <i class='bx bx-planet'></i>
            </a>
            <div class="app-title">Smart Factory</div>
        </div>
        <div class="col text-center">
            <a href="https://10.220.130.116:8888" class="app-box mx-auto bg-gradient-kyoto text-dark">
                <i class='bx bx-check'></i>
            </a>
            <div class="app-title">Check List</div>
        </div>
        <div class="col text-center">
            <a href="https://10.220.130.116:6688" class="app-box mx-auto bg-gradient-blues text-dark">
                <i class='bx bx-file'></i>
            </a>
            <div class="app-title">PCN</div>
        </div>
        @*<div class="col text-center">
                <div class="app-box mx-auto bg-gradient-moonlit text-white">
                    <i class='bx bx-filter-alt'></i>
                </div>
                <div class="app-title">Alerts</div>
            </div>*@
    </div>
</div>