<ul class="metismenu" id="menu">

    <!-- Dashboard-->
    <li>
        <a href="/NVIDIA/Dashboard">
            <div class="parent-icon">
                <i class='bx bx-home'></i>
            </div>
            <div class="menu-title" data-i18n="layout.dashboard">Dashboard</div>
        </a>
    </li>
    <li class="menu-label" data-i18n="layout.management">Management</li>
    <!-- Device -->
    <li>
        <a class="has-arrow" href="javascript:;">
            <div class="parent-icon">
                <i class='bx bx-microchip'></i>
            </div>
            <div class="menu-title" data-i18n="layout.device">Devices</div>
        </a>
        <ul>
            <li>
                <a href="/NVIDIA/DeviceManagement/DeviceManagement" data-i18n="layout.device_management">Management</a>
            </li>
            <li>
                <a href="/NVIDIA/DeviceManagement/ComingDevice">Coming Device</a>
            </li>
            <li>
                <a class="has-arrow" href="javascript:;" data-i18n="layout.new_device">New Device</a>
                <ul>
                    <li><a href="/NVIDIA/DeviceManagement/AddDeviceManual" data-i18n="layout.new_device_manual">Manual</a></li>
                    <li><a href="/NVIDIA/DeviceManagement/ConfirmDevice">BOM</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <!-- Borrow -->
    <li>
        <a class="has-arrow" href="javascript:;">
            <div class="parent-icon">
                <i class='bx bx-transfer-alt'></i>
            </div>
            <div class="menu-title" data-i18n="layout.request_handling">Requests</div>
        </a>
        <ul>
            <li>
                <a href="/NVIDIA/RequestManagement/RequestManagement" data-i18n="layout.rq_management">Management</a>
            </li>
            <li>
                <a href="/NVIDIA/RequestManagement/SignManagement" data-i18n="layout.rq_sign">Sign</a>
            </li>
            <li>
                <a class="has-arrow" href="javascript:;" data-i18n="layout.rq_request">Request</a>
                <ul>
                    <li><a href="/NVIDIA/RequestManagement/TakeDevice" data-i18n="layout.rq_request_take">Take</a></li>
                    <li><a href="/NVIDIA/RequestManagement/BorrowDevice" data-i18n="layout.rq_request_borrow">Borrow</a></li>
                    <li><a href="/NVIDIA/RequestManagement/ReturnDevice" data-i18n="layout.rq_request_return">Return</a></li>
                    <li><a href="/NVIDIA/ExportManagement/Management">Shipping</a></li>
                </ul>
            </li>




        </ul>
    </li>
    <!-- Warehouse-->
    <li>
        <a class="has-arrow" href="javascript:;">
            <div class="parent-icon">
                <i class='bx bx-grid-alt'></i>
            </div>
            <div class="menu-title" data-i18n="layout.warehouse">Warehouses</div>
        </a>
        <ul>
            <li>
                <a href="/NVIDIA/Warehouse/Management" data-i18n="layout.wh_management">Management</a>
            </li>
            <li>
                <a href="/NVIDIA/Warehouse/Layout" data-i18n="layout.wh_layout">Layout</a>
            </li>
        </ul>
    </li>
    <!-- Infomation-->
    <li>
        <a class="has-arrow" href="javascript:;">
            <div class="parent-icon">
                <i class='bx bx-info-circle'></i>
            </div>
            <div class="menu-title" data-i18n="layout.infomation">Infomation</div>
        </a>
        <ul>
            <li>
                <a href="/NVIDIA/InfoManagement/Product" data-i18n="layout.info_product">Products</a>
            </li>
            <li>
                <a href="/NVIDIA/InfoManagement/ModelStation" data-i18n="layout.info_modelstation">Model & Station</a>
            </li>
            <li>
                <a href="/NVIDIA/InfoManagement/GroupVendor" data-i18n="layout.info_groupvendor">Group & Vendor</a>
            </li>
        </ul>
    </li>
    <!-- Others-->
    <li class="menu-label" data-i18n="layout.others">Others</li>

    <li>
        <a class="has-arrow" href="javascript:;">
            <div class="parent-icon">
                <i class='bx bx-info-circle'></i>
            </div>
            <div class="menu-title">ADMIN</div>
        </a>
        <ul>
            <li>
                <a href="/NVIDIA/AdminManagement/UserManagement">User management</a>
            </li>
            <li>
                <a href="/NVIDIA/AdminManagement/RoleManagement">Role management</a>
            </li>
            @*<li>
                    <a href="/NVIDIA/Info/GroupVendor" data-i18n="layout.info_groupvendor">Group & Vendor</a>
                </li>*@
        </ul>
    </li>

    <li>
        <a href="javascript:;" target="_blank">
            <div class="parent-icon">
                <i class='bx bx-file'></i>
            </div>
            <div class="menu-title" data-i18n="layout.documentation">Documentation</div>
        </a>
    </li>
    <li>
        <a href="javascript:;" target="_blank">
            <div class="parent-icon">
                <i class='bx bx-headphone'></i>
            </div>
            <div class="menu-title" data-i18n="layout.support">Support</div>
        </a>
    </li>
    <li class="menu-label">Sign Out</li>
    <li>
        <a href="javascript:;" onclick="SignOut()">
            <div class="parent-icon">
                <i class='bx bx-log-out'></i>
            </div>
            <div class="menu-title" data-i18n="layout.signout">Sign Out</div>
        </a>
    </li>
</ul>