.card {
    margin-bottom: 30px;
    padding-bottom: 0 !important;
}

.card-body * {
    position: relative;
    z-index: 99;
}

h5.card-title {
    font-weight: bold;
}

.waves {
    position: absolute !important;
    bottom: 0;
    left: 0;
    z-index: 0;
    border-radius: 0 0 15px 15px;
    margin-bottom: 0 !important;
    height: 10vh !important;
}
.dashboard .sales-card .card-icon {
    color: #5119f7;
    background: #ffffff00;
}
.dashboard .revenue-card .card-icon {
    color: #198754;
    background: #ffffff00;
}
.dashboard .customers-card .card-icon {
    color: #ff771d;
    background: #ffffff00;
}
.dashboard .activity .activity-item .activity-badge {
    z-index: 99;
}

.card-body.chartCard * {
    z-index: 0 !important;
}
