@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_HomePage.cshtml";
}

@section styles{
    <link href="~/Areas/NVIDIA/Content/Vendor/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/NVIDIA/Content/Vendor/Font-Awesome-640-Pro/css/all.css" rel="stylesheet" />
    <link href="~/Assets/homePage/css/Jayc_custom.css?v=@Guid.NewGuid()" rel="stylesheet" />
}

<div class="content p-5">
    <div class="row">
        <div class="col-6 col-md-4">
            <div class="card glass">
                <div class="card-header">
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="~/Assets/homePage/img/brandlogo/arlo.png" class="img-fluid me-2" style="height: 20px;">
                        <span class="fw-bold">ARLO / </span>
                        <img src="~/Assets/homePage/img/brandlogo/netgear.png" class="img-fluid mx-2" style="height: 20px;">
                        <span class="fw-bold">NETGEAR</span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="list-group glass">
                        <a class="list-group-item text-reset text-decoration-none w-100" href="/Admin/Login/Index">
                            <i class="fa-duotone fa-solid fa-list-check fa-fade" style="--fa-animation-duration: 2s;"></i> TOOLINGROOM MANAGEMENT
                        </a>
                        <a class="list-group-item text-reset text-decoration-none" href="/Admin/LoginBorrow/LoginPage">
                            <i class="fa-duotone fa-solid fa-rotate fa-spin" style="--fa-animation-duration: 2s;"></i> BORROW DEVICES
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="card glass">
                <div class="card-header">
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="~/Assets/homePage/img/brandlogo/nvidia.png" class="img-fluid me-2" style="height: 20px;">
                        <span class="fw-bold">NVIDIA NIC</span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="list-group glass">
                        <a class="list-group-item text-reset text-decoration-none w-100" href="/NVIDIA/Authentication/SignIn">
                            <i class="fa-duotone fa-solid fa-right-to-bracket fa-fade" style="--fa-animation-duration: 2s;"></i> LOGIN
                        </a>
                        <a class="list-group-item text-reset text-decoration-none" href="/NVIDIA/Dashboard">
                            <i class="fa-duotone fa-solid fa-chart-simple fa-fade" style="--fa-animation-duration: 2s;"></i> DASHBOARD
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="card glass">
                <div class="card-header">
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="~/Assets/homePage/img/brandlogo/nvidia.png" class="img-fluid me-2" style="height: 20px;">
                        <span class="fw-bold">NVIDIA LC SWITCH</span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="list-group glass">
                        <a class="list-group-item text-reset text-decoration-none w-100" href="https://10.220.130.117:6666/NVIDIA/Authentication/SignIn">
                            <i class="fa-duotone fa-solid fa-right-to-bracket fa-fade" style="--fa-animation-duration: 2s;"></i> LOGIN
                        </a>
                        <a class="list-group-item text-reset text-decoration-none" href="https://10.220.130.117:6666/NVIDIA/Dashboard">
                            <i class="fa-duotone fa-solid fa-chart-simple fa-fade" style="--fa-animation-duration: 2s;"></i> DASHBOARD
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

