
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Login - File Manager System</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Areas/PurchaseOrderManager/Content/Image/fii-logo.jpg" rel="icon">

    <!-- Fonts -->
    <link href="~/Areas/PurchaseOrderManager/Content/vendor/Font/Rubik/stylesheet.css" rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="~/Areas/PurchaseOrderManager/Content/vendor/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/PurchaseOrderManager/Content/vendor/SweetAlert/swal.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="~/Areas/PurchaseOrderManager/Content/template/NiceAdmin/css/style.css" rel="stylesheet" />

    <!-- Custume CSS File -->
    <link href="~/Areas/PurchaseOrderManager/Content/Custom/Login/LoginStyle.css" rel="stylesheet" />
</head>

<body>
    <div id="particles-js"></div>
    <main>
        <div class="container" id="container">
            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center loginCard">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="d-flex justify-content-center pt-4">
                                        <!-- Logo -->
                                        <a href="#" class="logo d-flex align-items-center w-auto">
                                            <img src="~/Areas/PurchaseOrderManager/Content/Image/fii-logo.jpg" alt="" />
                                            <span class="d-none d-lg-block">Purchase Order</span>
                                        </a>
                                    </div><!-- End Logo -->
                                    <div class="pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                                        <p class="text-center small">Enter your Card ID & Password to login</p>
                                    </div>
                                    <div class="row g-3 needs-validation" id="LoginForm" novalidate>
                                        <div class="col-12">
                                            <label for="yourUsername" class="form-label">Card ID</label>
                                            <div class="input-group has-validation">
                                                <input type="text" class="form-control" id="cardId" maxlength="8" placeholder="Vxxxxxxx" onkeypress="InputKeyPress(this)">
                                                <div class="invalid-feedback" id="cardIDFeedback">Please enter your Card ID.</div>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <label for="yourPassword" class="form-label">Password</label>
                                            <div class="input-group has-validation">
                                                <input type="password" class="form-control" id="password" maxlength="20" placeholder="password.." onkeypress="InputKeyPress(this)">
                                                <div class="invalid-feedback" id="passwordFeedback">Please enter your password!</div>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                                                        <label class="form-label" for="rememberMe">Remember</label>
                                                    </div>
                                                </div>
                                                <div class="col-6 d-flex justify-content-end">
                                                    <p class="small mb-0"><a href="#">Forgot password?</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-primary w-100" type="button" onclick="login()">Login</button>
                                        </div>
                                        <div class="col-12">
                                            <p class="small mb-0">Don't have account? <a href="#">Regist now (Comming soon).</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main><!-- End #main -->
    <!-- Vendor JS Files -->
    <script src="~/Areas/PurchaseOrderManager/Content/vendor/Jquery/jquery-3.4.1.min.js"></script>
    <script src="~/Areas/PurchaseOrderManager/Content/vendor/Particles/particles.min.js"></script>
    <script src="~/Areas/PurchaseOrderManager/Content/vendor/SweetAlert/swal.min.js"></script>

    <!-- Template -->
    <script src="~/Areas/PurchaseOrderManager/Content/template/NiceAdmin/js/main.js"></script>

    <!-- Custume JS File -->
    <script src="~/Areas/PurchaseOrderManager/Content/Custom/Login/DynamicBackgroud.js"></script>
    <script src="~/Areas/PurchaseOrderManager/Content/Custom/Login/Login.js"></script>

</body>

</html>

