
@{
    ViewBag.Title = "Layout Management";
    Layout = "~/Areas/NVIDIA/Views/Shared/_NvidiaLayoutShared.cshtml";
}

@section styles{
    <!-- Vendor -->
    <!-- Custom -->
    <link href="~/Areas/NVIDIA/Content/Custom/Warehouse/css/Layout.css" rel="stylesheet" />
}

<div class="page-breadcrumb d-none d-sm-flex align-items-center py-3">
    <div class="breadcrumb-title pe-3">Layout</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="/NVIDIA/Dashboard"><i class="bx bx-home-alt"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Warehouse</li>
            </ol>
        </nav>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="card-title d-flex justify-content-between align-items-center">
            <h5 class="m-0">Warehouse Layout</h5>
            <div class="w-50 d-flex justify-content-end">
                <div class="input-group input-group-sm w-50">
                    <span class="col-5 input-group-text">Warehouse</span>
                    <select class="col-7 form-select" id="input_WareHouse"></select>
                </div>
            </div>
        </div>
        <hr />
        <div class="accordion" id="accordion_wh">
            <div class="mb-3">
                <button class="btn btn-outline-primary" onclick="AddNewLine()"><i class="fa-solid fa-plus"></i> Add new line</button>
            </div>
            <div id="LineContainer">
                
            </div>
        </div>

       
    </div>
</div>

@section scripts{
    <!-- Vendor -->
    <!-- Custom -->
    <script src="~/Areas/NVIDIA/Content/Custom/Warehouse/js/Layout.js"></script>
}
