@{
    ViewBag.Title = "Dash Board";
    Layout = "~/Areas/NVIDIA/Views/Shared/_NvidiaLayoutShared.cshtml";
}

@section styles{
    <!-- Vendor -->
    <link href="~/Areas/NVIDIA/Content/Template/Sysadmin/assets/plugins/highcharts/css/highcharts.css" rel="stylesheet" />
    <!-- Custom -->
    <link href="~/Areas/NVIDIA/Content/Custom/Dashboard/Dashboard.css?v=@Guid.NewGuid()" rel="stylesheet" />
}

<div class="dash-wrapper bg-dark">
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 row-cols-xxl-5">
        <!-- Tổng số người dùng -->
        <div class="col border-end border-light-2">
            <div class="card bg-transparent shadow-none mb-0">
                <div class="card-body text-center">
                    <p class="mb-1 text-white fw-bold">Weekly User</p>
                    <h3 class="mb-3 text-white" id="chart1-totalUser">0</h3>
                    <p class="font-13 text-white" id="chart1-rateUser"></p>
                    <div id="chart1"></div>
                </div>
            </div>
        </div>
        <!-- Tổng số thiết bị -->
        <div class="col-8 border-end border-light-2">
            <div class="card bg-transparent shadow-none mb-0">
                <div class="card-body text-center">
                    <p class="mb-1 text-white">Weekly Device</p>
                    <h3 class="mb-3 text-white" id="chart2-totalDevice">0</h3>
                    <p class="font-13 text-white" id="chart2-rateDevices"></p>
                    <div id="chart2"></div>
                </div>
            </div>
        </div>
        <!-- Tổng số yêu cầu mượn -->
        <div class="col border-end border-light-2">
            <div class="card bg-transparent shadow-none mb-0">
                <div class="card-body text-center">
                    <p class="mb-1 text-white">Weekly Request</p>
                    <h3 class="mb-3 text-white" id="chart3-totalRequest">0</h3>
                    <p class="font-13 text-white" id="chart3-rateRequest"></p>
                    <div id="chart3"></div>
                </div>
            </div>
        </div>
        <!-- Tổng số yêu cầu được chấp nhận -->
        <div class="col">
            <div class="card bg-transparent shadow-none mb-0">
                <div class="card-body text-center">
                    <p class="mb-1 text-white">Weekly Approved Request</p>
                    <h3 class="mb-3 text-white" id="chart4-totalApproved">0</h3>
                    <p class="font-13 text-white" id="chart4-rateApproved"></p>
                    <div id="chart4"></div>
                </div>
            </div>
        </div>
        <!-- Tổng số yêu không được chấp nhận -->
        <div class="col border-end border-light-2">
            <div class="card bg-transparent shadow-none mb-0">
                <div class="card-body text-center">
                    <p class="mb-1 text-white">Weekly Rejected Request</p>
                    <h3 class="mb-3 text-white" id="chart5-totalRejected">0</h3>
                    <p class="font-13 text-white" id="chart5-rateRejected"></p>
                    <div id="chart5"></div>
                </div>
            </div>
        </div>
    </div><!--end row-->
</div>

<div class="row row-cols-1 row-cols-xl-2">
    <!-- Tổng số yêu cầu mượn theo năm/tháng/tuần -->
    <div class="col d-flex">
        <div class="card radius-10 w-100">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <h6 class="mb-0">Borrow Requests Overview</h6>
                    </div>
                    <select class="form-select ms-auto" id="chart6-selectType" style="width: unset;">
                        <option value="week">Week</option>
                        <option value="Month">Month</option>
                    </select>
                </div>
                <div id="chart6"></div>
            </div>
        </div>
    </div>
    <!-- In/Out thiết bị theo tháng -->
    <div class="col d-flex">
        <div class="card radius-10 w-100">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <h6 class="mb-0">Quantity Overview</h6>
                    </div>
                    <div class="d-flex align-items-center ms-auto font-13 gap-2">
                        <span class="border px-1 rounded cursor-pointer"><i class='bx bxs-circle text-secondary me-1'></i>Take</span>
                        <span class="border px-1 rounded cursor-pointer"><i class='bx bxs-circle text-primary me-1'></i>Borrow</span>
                        <span class="border px-1 rounded cursor-pointer"><i class='bx bxs-circle text-info me-1'></i>Return</span>
                        <span class="border px-1 rounded cursor-pointer"><i class='bx bxs-circle text-danger me-1'></i>NG</span>
                        <span class="border px-1 rounded cursor-pointer"><i class='bx bxs-circle text-success me-1'></i>Export</span>
                    </div>
                    <select class="form-select ms-3" id="chart7-selectType" style="width: unset;">
                        <option value="week">Week</option>
                        <option value="Month">Month</option>
                    </select>
                </div>
            </div>
            <div id="chart7"></div>
        </div>
    </div>
</div><!--end row-->


<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
    <!-- Số đơn approved theo tuần -->
    <!-- Số đơn pending theo tuần -->
    <!-- Số đơn reject theo tuần -->
    <div class="col d-flex">
        <div class="card radius-10 p-0 w-100 bg-transparent shadow-none flex-column justify-content-between">
            <div class="card radius-10">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0">Total Approved Rate</p>
                            <h5 class="mb-0" id="chart8-rate">0%</h5>
                        </div>
                        <div class="widgets-icons bg-light-success text-success ms-auto"><i class="fa-sharp fa-regular fa-circle-check"></i></div>
                    </div>
                    <div id="chart8"></div>
                </div>
            </div>
            <div class="card radius-10">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0">Total Pending Rate</p>
                            <h5 class="mb-0" id="chart9-rate">0%</h5>
                        </div>
                        <div class="widgets-icons bg-light-warning text-warning ms-auto"><i class="fa-regular fa-circle-exclamation"></i></div>
                    </div>
                    <div id="chart9"></div>
                </div>
            </div>
            <div class="card radius-10 mb-0">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0">Total Rejected Rate</p>
                            <h5 class="mb-0" id="chart10-rate"></h5>
                        </div>
                        <div class="widgets-icons bg-light-danger text-danger ms-auto"><i class="fa-sharp fa-regular fa-circle-xmark"></i></div>
                    </div>
                    <div id="chart10"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Trạng thái thiết bị -->
    <div class="col d-flex">
        <div class="card radius-10 w-100">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <h6 class="mb-0">Devices Status</h6>
                    </div>
                    <div class="font-22 ms-auto">
                        <i class="bx bx-dots-horizontal-rounded"></i>
                    </div>
                </div>
                <div id="chart11"></div>

                <div class="row align-items-center py-2">
                    <div class="col-4 text-success">
                        <p class="mb-0">Confirmed</p>
                    </div>
                    <div style="width: 50px">
                        <p class="mb-0" id="chart11-ConfirmedText">0</p>
                    </div>
                    <div class="col">
                        <div class="progress radius-10 mb-0" style="height:6px;">
                            <div class="progress-bar bg-success" role="progressbar" id="chart11-ConfirmedBar" style="width: 0%"></div>
                        </div>
                    </div>
                </div><!--end row-->

                <div class="row align-items-center py-2">
                    <div class="col-4 text-warning">
                        <p class="mb-0">Part Confirmred</p>
                    </div>
                    <div style="width: 50px">
                        <p class="mb-0" id="chart11-PartConfirmedText">0</p>
                    </div>
                    <div class="col">
                        <div class="progress radius-10 mb-0" style="height:6px;">
                            <div class="progress-bar bg-warning" role="progressbar" id="chart11-PartConfirmedBar" style="width: 0%"></div>
                        </div>
                    </div>
                </div><!--end row-->

                <div class="row align-items-center py-2">
                    <div class="col-4 text-info">
                        <p class="mb-0">Unconfirmed</p>
                    </div>
                    <div style="width: 50px">
                        <p class="mb-0" id="chart11-UnconfirmedText">0</p>
                    </div>
                    <div class="col">
                        <div class="progress radius-10 mb-0" style="height:6px;">
                            <div class="progress-bar bg-info" role="progressbar" id="chart11-UnconfirmedBar" style="width: 0%"></div>
                        </div>
                    </div>
                </div><!--end row-->

                <div class="row align-items-center py-2">
                    <div class="col-4 text-secondary">
                        <p class="mb-0">Locked</p>
                    </div>
                    <div style="width: 50px">
                        <p class="mb-0" id="chart11-LockedText">0</p>
                    </div>
                    <div class="col">
                        <div class="progress radius-10 mb-0" style="height:6px;">
                            <div class="progress-bar bg-secondary" role="progressbar" id="chart11-LockedBar" style="width: 0%"></div>
                        </div>
                    </div>
                </div><!--end row-->

                <div class="row align-items-center py-2">
                    <div class="col-4 text-danger">
                        <p class="mb-0">Out Range</p>
                    </div>
                    <div style="width: 50px">
                        <p class="mb-0" id="chart11-OutRangeText">0</p>
                    </div>
                    <div class="col">
                        <div class="progress radius-10 mb-0" style="height:6px;">
                            <div class="progress-bar bg-danger" role="progressbar" id="chart11-OutRangeBar" style="width: 0%"></div>
                        </div>
                    </div>
                </div><!--end row-->
            </div>
        </div>
    </div>

    <!-- Các kho - Loại thiết bị (dynamic/static) -->
    <div class="col d-flex">
        <div class="card radius-10 p-0 w-100 p-3" style="display: flex; flex-direction: column; justify-content: space-evenly;">

            <div class="card radius-10 shadow-none bg-transparent border">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <h6 class="mb-0">Device Distribution by Warehouse</h6>
                        </div>
                        <div class="font-22 ms-auto">
                            <i class="bx bx-dots-horizontal-rounded"></i>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-center justify-content-lg-start">

                        <div id="chart12"></div>
                    </div>
                </div>
            </div>


            <div class="card radius-10 mb-0 shadow-none bg-transparent mb-0 border">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-4">
                        <div>
                            <h6 class="mb-0">Device Type</h6>
                        </div>
                        <div class="font-22 ms-auto">
                            <i class="bx bx-dots-horizontal-rounded"></i>
                        </div>
                    </div>
                    <div class="row row-cols-3 g-3">
                        <div class="col">
                            <div class="d-flex gap-2">
                                <h4 class="mb-1 d-flex" id="chart12-RateStatic">0%</h4>
                            </div>
                            <p class="mb-0 d-flex align-items-center"><i class='bx bxs-circle text-success fs-6'></i><span class="mx-2">Static</span></p>
                        </div>
                        <div class="col">
                            <div class="d-flex gap-2">
                                <h4 class="mb-1 d-flex" id="chart12-RateDynamic">0%</h4>
                            </div>
                            <p class="mb-0 d-flex align-items-center"><i class='bx bxs-circle text-info fs-6'></i><span class="mx-2">Dynamic</span></p>
                        </div>
                        <div class="col">
                            <div class="d-flex gap-2">
                                <h4 class="mb-1 d-flex" id="chart12-RateFixture">0%</h4>
                            </div>
                            <p class="mb-0 d-flex align-items-center"><i class='bx bxs-circle text-primary fs-6'></i><span class="mx-2">Fixture</span></p>
                        </div>
                        <div class="col">
                            <div class="d-flex gap-2">
                                <h4 class="mb-1 d-flex" id="chart12-RateNA">0%</h4>
                            </div>
                            <p class="mb-0 d-flex align-items-center"><i class='bx bxs-circle text-secondary fs-6'></i><span class="mx-2">NA</span></p>
                        </div>
                    </div>

                    <div class="progress radius-10 mt-4" style="height: 10px">
                        <div class="progress-bar bg-success" role="progressbar" id="chart12-RateStaticBar" style="width: 0%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar bg-info" role="progressbar" id="chart12-RateDynamicBar" style="width: 0%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar bg-primary" role="progressbar" id="chart12-RateFixtureBar" style="width: 0%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar bg-secondary" role="progressbar" id="chart12-RateNABar" style="width: 0%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div><!--end row-->
<!-- All Model -->
<div class="row row-cols-1 row-cols-md-2 row-cols-xl-4" id="Model-Container">

</div><!--end row-->
<!-- OffCanvas Device Detais -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasModel" data-bs-scroll="true">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Model Details</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="row row-cols-xl-1" id="station-container">

            <div class="col">
                <div class="card radius-10">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <h5 class="mb-0 text-secondary"></h5>
                            <button class="btn btn-sm btn-outline-primary radius-10"><i class="fa-duotone fa-circle-info"></i> Details</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="text-secondary">
                            <span class="fs-4 text-white">42</span> (Station)
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Details modal -->
<div class="modal fade" id="device_details-modal" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="device_details-title">STATION DEVICES</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- History -->
                    <h5 class="font-weight-light text-center text-primary py-3" id="borrow_modal-name">STATION DEVICES</h5>
                    <div>
                        <table class="table table-bordered" id="device_details">
                            <thead>
                                <tr class="align-middle fw-bold" style="background-color: #3e464c">
                                    <td>No.</td>
                                    <td>Device Id</td>
                                    <td>PN</td>
                                    <td>Description</td>
                                    <td>Model</td>
                                    <td>Station</td>
                                    <td>Quantity</td>
                                </tr>
                            </thead>
                            <tbody id="device_details-tbody"></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <!-- Vendor -->
    <script src="~/Areas/NVIDIA/Content/Template/Sysadmin/assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="~/Areas/NVIDIA/Content/Template/Sysadmin/assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>


    <script src="~/Areas/NVIDIA/Content/Template/Sysadmin/assets/plugins/highcharts/js/highcharts.js"></script>

    <script src="~/Areas/NVIDIA/Content/Template/Sysadmin/assets/plugins/apexcharts-bundle/js/apexcharts.min.js"></script>
    <!-- Custom -->
    <script src="~/Areas/NVIDIA/Content/Custom/Dashboard/Dashboard.js?v=@Guid.NewGuid()"></script>
}
