
<div>
    <p class="text-dark small px-3">
        特別注意詢價要求 <label class="text-secondary fst-italic">Các chú ý đặc biệt</label>:
    </p>
    <p class="text-dark small px-3">
        1.所有詢價請詳細填好需求詢價表，資訊不完整不予處理！ （內容如是越南文或英文，請和中文一起描述）</br>
        <label class="text-secondary fst-italic">
            Vui lòng điền đầy đủ thông tin vào form yêu cầu, thông tin không đầy đủ sẽ không được xử lý! (Nếu nội dung bằng tiếng Việt hoặc tiếng Anh, vui lòng mô tả kèm theo tiếng Trung)
        </label>
    </p>
    <p class="text-dark small px-3">
        2.詢價表必須使用部門部級以上主管簽字確認。（現在先簽紙檔，采購已與IT在開發系統簽核流程中）</br>
        <label class="text-secondary fst-italic">
            Biểu mẫu yêu cầu báo giá phải được xác nhận bằng chữ ký của cấp trên phòng ban hoặc phòng ban trực tiếp. (Hiện tại, vui lòng ký trên tài liệu giấy trước, quá trình ký duyệt đang được phát triển hệ thống).
        </label>
    </p>
    <p class="text-dark small px-3">
        3.加工非標訂製，必須提供完整2D或3D圖紙。</br>
        <label class="text-secondary fst-italic">
            Quá trình gia công không chuẩn, phải cung cấp bản vẽ 2D hoặc 3D đầy đủ.
        </label>
    </p>
    <p class="text-dark small px-3">
        4.PR單品牌規格型號標示清楚，不可以寫訂製或NA，提PR時，必須請關務審核產品名稱、規格型號、單位是否符合關務進口條件，關務審核OK之後BU才能開PR，避免后期下完訂單報關異常及結報異常。</br>
        <label class="text-secondary fst-italic">
            Đơn PR phải ghi rõ thương hiệu, thông số kỹ thuật và mẫu mã của sản phẩm. Không được viết là tuỳ chọn hoặc NA. Khi đề xuất PR, yêu cầu kiểm tra tên sản phẩm, thông số kỹ thuật và đơn vị nhập khẩu có phù hợp với điều kiện nhập khẩu của hải quan. Sau khi đã được phê duyệt bởi hải quan, BU mới có thể mở PR, tránh tình trạng lệch đơn và báo cáo cuối kỳ không chính xác.
        </label>
    </p>
    <p class="text-dark small px-3">
        5.使用單位需要 三份報價才能開PR，或要議完價格才能開PR ，或要有中國廠商報價比對才能開PR, 請特別備註說明提出. .採購可以配合. 并請BU給予足夠時間作業（如急件，請特別特別說明，并備註原因及最晚到貨時間）</br>
        <label class="text-secondary fst-italic">
            Đơn vị sử dụng cần có ba báo giá để mở PR, hoặc cần thảo luận và đạt được giá cả trước khi mở PR, hoặc cần có sự so sánh báo giá từ các nhà cung cấp Trung Quốc trước khi mở PR. Vui lòng chú thích đặc biệt và ghi rõ lý do mua hàng, và vui lòng cung cấp đủ thời gian cho BU để thực hiện công việc (nếu có yêu cầu gấp, vui lòng đặc biệt chú thích và ghi rõ lý do cùng với thời gian giao hàng muộn nhất).
        </label>
    </p>
    <p class="text-dark small px-3">
        6.排插,風扇,空調 - 下PO時,需附上經工務最高主管核準的書面規範書，否則退單 (1.詳細規格, 2. 安裝商及人員資質要求;3. .施工工藝及材料要求;4.驗收要求)</br>
        <label class="text-secondary fst-italic">
            Đối với ổ cắm, quạt, điều hòa - khi tạo PO, phải kèm theo sách hướng dẫn viết theo yêu cầu của quản lý cấp cao nhất trong phòng Cơ giới. Nếu không có sách hướng dẫn, đơn hàng sẽ bị từ chối (1. Thông số kỹ thuật chi tiết, 2. Yêu cầu về nhà cung cấpvà nhân viên, 3. Kỹ thuật thi công và yêu cầu về vật liệu, 4. Yêu cầu kiểm tra và nghiệm thu).
        </label>
    </p>
    <p class="text-dark small px-3">
        7.所有固資請購和設備維修，系統采購窗口請選：李明或黃氏理，否則采購收不到需求。（VN采購代碼 BBBVNJP7）如系統中窗口無黃氏理，請找經管添加。</br>
        <label class="text-secondary fst-italic">
            Đối với tất cả các tài sản cố định mua và bảo trì thiết bị, vui lòng chọn cửa sổ mua hàng trong hệ thống là "李明" hoặc "黃氏理" để yêu cầu. Nếu không, mua hàng sẽ không nhận được yêu cầu. (Mã mua hàng VN là BBBVNJP7). Nếu trong hệ thống không có cửa sổ "黃氏理", vui lòng yêu cầu phòng quản lý thêm vào.
        </label>
    </p>
    <p class="text-dark small px-3">
        8.系統提PR跑流程時，請附件上所有附件 (報價單，規格書，客戶PO，NRE及付款明細，投資計劃書等)</br>
        <label class="text-secondary fst-italic">
            Khi tạo PR trong quy trình hệ thống, vui lòng đính kèm tất cả các tài liệu liên quan (báo giá, sách hướng dẫn, PO của khách hàng, NRE và chi tiết thanh toán, kế hoạch đầu tư, v.v.).
        </label>
    </p>
</div>