#uploadArea{
    padding: 0;
    margin: 0;
    background-color: transparent;
}
#dropZoon{
    margin-top: 1.3rem;
}
.swal2-container.swal2-center > .swal2-popup {
    box-shadow: 0px 0px 20px 6px #888888;
    background-color: black;
}
.table-hover > tbody > tr:hover > * {
    background-color: rgb(136 51 255 / 15%) !important;
}
.modal-content {
    box-shadow: 0px 0px 20px 6px #888888;
}

.select2-container{
    z-index: 9999;
}